---
- name: Get latest Yq version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/yq.json
  register: yq_formula
  when: ansible_system in ["FreeBSD", "Linux"]

- name: Install Yq for FreeBSD and Linux
  ansible.builtin.get_url:
    dest: /usr/local/bin/yq
    mode: "755"
    owner: root
    url: >-
      https://github.com/mikefarah/yq/releases/download/v{{
      yq_formula.json.versions.stable }}/yq_{{ ansible_system | lower }}_{{
      yq_arch[ansible_architecture] }}
  become: true
  vars:
    yq_arch:
      aarch64: arm64
      amd64: amd64
      x86_64: amd64
  when: ansible_system in ["FreeBSD", "Linux"]

- name: Install Yq for MacOS
  community.general.homebrew:
    name: yq
  when: ansible_system == "Darwin"

- name: Install Yq for Windows
  community.windows.win_scoop:
    name: yq
  when: ansible_system == "Win32NT"
