---
- name: Install Vim for FreeBSD
  become: true
  community.general.pkgng:
    name: vim
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Vim for Linux
  ansible.builtin.package:
    name: vim
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Vim for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: vim
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Vim for Windows
  community.windows.win_scoop:
    global: true
    name: vim
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Copy Vim settings file for Unix
  ansible.builtin.copy:
    dest: "{{ ansible_facts.env.HOME }}/.vimrc"
    force: true
    mode: "644"
    src: vimrc
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Vim settings files for Windows
  ansible.windows.win_copy:
    dest: "{{ ansible_facts.env.HOME }}/_vimrc"
    src: vimrc
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
