---
- name: Check if VSCodium settings file exists for Unix
  ansible.builtin.stat:
    path: "{{ vscodium_user_path }}/settings.json"
  register: vscodium_settings_check_unix
  tags:
    - config
  when: ansible_system != "Win32NT"

- name: Check if VSCodium settings file exists for Windows
  ansible.windows.win_stat:
    path: "{{ vscodium_user_path }}\\settings.json"
  register: vscodium_settings_check_windows
  tags:
    - config
  when: ansible_system == "Win32NT"

- name: Set VSCodium settings check
  ansible.builtin.set_fact:
    vscodium_settings_check: >-
      {{ vscodium_settings_check_unix if not 'skipped' in
      vscodium_settings_check_unix else vscodium_settings_check_windows }}
  tags:
    - config

- name: Read contents of VSCodium settings file
  ansible.builtin.slurp:
    src: "{{ vscodium_user_path }}/settings.json"
  register: vscodium_settings_file
  tags:
    - config
  when: vscodium_settings_check.stat.exists

- name: Set VSCodium remotes
  ansible.builtin.set_fact:
    vscodium_remotes: >-
      {{ vscodium_remotes if vscodium_remotes or 'skipped' in
      vscodium_settings_file else (vscodium_settings_file['content'] | b64decode
      | regex_replace('//.*', '') | from_yaml).get('remote.SSH.remotePlatform',
      {}) }}
  tags:
    - config

- name: Create VSCodium user directory for MacOS
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/Library/Application Support/VSCodium/User"
    state: directory
  become: true
  tags:
    - config
  when: ansible_system == "Darwin"

- name: Copy VSCodium keybindings file for MacOS
  ansible.builtin.template:
    dest: >-
      {{ user_home }}/Library/Application Support/VSCodium/User/keybindings.json
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: keybindings.json.j2
  become: true
  tags:
    - config
  when: ansible_system == "Darwin"

- name: Copy VSCodium settings file for MacOS
  ansible.builtin.template:
    dest: >-
      {{ user_home }}/Library/Application Support/VSCodium/User/settings.json
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: settings.json.j2
  become: true
  tags:
    - config
  when: ansible_system == "Darwin"

- name: Create VSCodium user directory for Linux
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/VSCodium/User"
    state: directory
  become: true
  tags:
    - config
  when: ansible_system == "Linux"

- name: Copy VSCodium keybindings file for Linux
  ansible.builtin.template:
    dest: "{{ user_home }}/.config/VSCodium/User/keybindings.json"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: keybindings.json.j2
  become: true
  tags:
    - config
  when: ansible_system == "Linux"

- name: Copy VSCodium settings file for Linux
  ansible.builtin.template:
    dest: "{{ user_home }}/.config/VSCodium/User/settings.json"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: settings.json.j2
  become: true
  tags:
    - config
  when: ansible_system == "Linux"

- name: Create VSCodium user directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\AppData\\Roaming\\VSCodium\\User"
    state: directory
  tags:
    - config
  when: ansible_system == "Win32NT"

- name: Copy VSCodium keybindings file for Windows
  ansible.windows.win_template:
    dest: "{{ user_home }}\\AppData\\Roaming\\VSCodium\\User\\keybindings.json"
    force: true
    src: keybindings.json.j2
  tags:
    - config
  when: ansible_system == "Win32NT"

- name: Copy VSCodium settings file for Windows
  ansible.windows.win_template:
    dest: "{{ user_home }}\\AppData\\Roaming\\VSCodium\\User\\settings.json"
    force: true
    owner: "{{ user_id }}"
    src: settings.json.j2
  tags:
    - config
  when: ansible_system == "Win32NT"
