---
- name: Create VSCodium user directory for MacOS
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/Library/Application Support/VSCodium/User"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system == "Darwin"

- name: Copy VSCodium keybindings file for MacOS
  ansible.builtin.template:
    dest: >-
      {{ user_home }}/Library/Application Support/VSCodium/User/keybindings.json
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: keybindings.json.j2
  become: true
  tags:
    - config
  when: ansible_facts.system == "Darwin"

- name: Copy VSCodium settings file for MacOS
  ansible.builtin.template:
    dest: >-
      {{ user_home }}/Library/Application Support/VSCodium/User/settings.json
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: settings.json.j2
  become: true
  tags:
    - config
  when: ansible_facts.system == "Darwin"

- name: Create VSCodium user directory for Linux
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/VSCodium/User"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system == "Linux"

- name: Copy VSCodium keybindings file for Linux
  ansible.builtin.template:
    dest: "{{ user_home }}/.config/VSCodium/User/keybindings.json"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: keybindings.json.j2
  become: true
  tags:
    - config
  when: ansible_facts.system == "Linux"

- name: Copy VSCodium settings file for Linux
  ansible.builtin.template:
    dest: "{{ user_home }}/.config/VSCodium/User/settings.json"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: settings.json.j2
  become: true
  tags:
    - config
  when: ansible_facts.system == "Linux"

- name: Create VSCodium user directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\AppData\\Roaming\\VSCodium\\User"
    state: directory
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy VSCodium keybindings file for Windows
  ansible.windows.win_template:
    dest: "{{ user_home }}\\AppData\\Roaming\\VSCodium\\User\\keybindings.json"
    force: true
    src: keybindings.json.j2
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy VSCodium settings file for Windows
  ansible.windows.win_template:
    dest: "{{ user_home }}\\AppData\\Roaming\\VSCodium\\User\\settings.json"
    force: true
    owner: "{{ user_id }}"
    src: settings.json.j2
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
