---
- name: Install ShellCheck for Alpine
  become: true
  community.general.apk:
    name: shellcheck
    repository: http://dl-cdn.alpinelinux.org/alpine/edge/community
    state: latest
    update_cache: true
  tags:
    - install
  when: system_pkg_mgr == "apk"

# Ansible pkgng module is case sensitive to package names, but pkg cli is not.
- name: Install ShellCheck for FreeBSD
  become: true
  community.general.pkgng:
    name: hs-ShellCheck
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install ShellCheck for Linux
  ansible.builtin.package:
    name: >-
      {{ 'ShellCheck' if system_pkg_mgr in ['dnf', 'zypper'] else 'shellcheck'
      }}
  become: true
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and system_pkg_mgr not in ["apk", "opkg"]

- name: Install ShellCheck for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: shellcheck
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Copy Shellcheck settings file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.shellcheckrc"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: shellcheckrc
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"
