---
- name: Install Alacritty for FreeBSD
  become: true
  community.general.pkgng:
    name: alacritty
  tags:
    - install
  when: ansible_system == "FreeBSD"

- name: Install Alacritty for Linux
  ansible.builtin.package:
    name: alacritty
  become: true
  tags:
    - install
  when: ansible_system == "Linux"

- name: Install Alacritty for MacOS
  community.general.homebrew_cask:
    accept_external_apps: true
    name: alacritty
    state: present
  tags:
    - install
  when: ansible_system == "Darwin"

- name: Install Alacritty for Windows
  community.windows.win_scoop:
    global: true
    name: alacritty
  tags:
    - install
  when: ansible_system == "Win32NT"

- name: Create Alacritty configuration directory for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/alacritty"
    state: directory
  become: true
  tags:
    - config
  when: ansible_system != "Win32NT"

- name: Create Alacritty configuration directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\AppData\\Roaming\\alacritty"
    state: directory
  tags:
    - config
  when: ansible_system == "Win32NT"

- name: Copy Alacritty configuration file for Unix
  ansible.builtin.template:
    dest: "{{ user_home }}/.config/alacritty/alacritty.toml"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: alacritty.toml.j2
  become: true
  tags:
    - config
  when: ansible_system != "Win32NT"

- name: Copy Alacritty configuration file for Windows
  ansible.windows.win_template:
    dest: "{{ user_home }}\\AppData\\Roaming\\alacritty\\alacritty.toml"
    force: true
    src: alacritty.toml.j2
  tags:
    - config
  when: ansible_system == "Win32NT"

- name: Set owner of Alacritty files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\AppData\\Roaming\\alacritty"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_system == "Win32NT"
