# Alacritty configuration file.
#
# For more information, visit
# https://github.com/alacritty/alacritty#configuration.

# Solarized Light theme colors.
colors:
  primary:
    background: "0xfdf6e3"
    foreground: "0x586e75"
  normal:
    black:   "0x073642"
    red:     "0xdc322f"
    green:   "0x859900"
    yellow:  "0xb58900"
    blue:    "0x268bd2"
    magenta: "0xd33682"
    cyan:    "0x2aa198"
    white:   "0xeee8d5"
  bright:
    black:   "0x002b36"
    red:     "0xcb4b16"
    green:   "0x586e75"
    yellow:  "0x657b83"
    blue:    "0x839496"
    magenta: "0x6c71c4"
    cyan:    "0x93a1a1"
    white:   "0xfdf6e3"

cursor:
  style:
    blinking: Never
    shape: Beam

env:
  TERM: alacritty

font:
  normal:
    family: FiraCode Nerd Font
    style: Regular
  bold:
    family: FiraCode Nerd Font
    style: Bold
  italic:
    family: FiraCode Nerd Font
    style: Italic
  bold_italic:
    family: FiraCode Nerd Font
    style: Bold Italic
  size: {{ font_size }}

keyboard:
  bindings:
    - chars: "\ue000"
      key: ";"
      mods: Control
    - chars: "\ue001"
      key: "["
      mods: Control
    - chars: "\ue002"
      key: "]"
      mods: Control
    - chars: "\ue003"
      key: "i"
      mods: Control

shell:
  args:
    - {{ "-NoLogo" if user_shell == "powershell" else "--login" }}
  program: {{ lookup("ansible.builtin.vars", user_shell + "_executable" ) }}

window:
{% if ansible_system == "Darwin" %}
  option_as_alt: Both
{% endif %}
  padding:
    x: 8
    y: 0
