# Alacritty configuration file.
#
# For more information, visit
# https://github.com/alacritty/alacritty#configuration.

# Solarized Light theme colors.
[colors.bright]
black = "#002b36"
blue = "#839496"
cyan = "#93a1a1"
green = "#586e75"
magenta = "#6c71c4"
red = "#cb4b16"
white = "#fdf6e3"
yellow = "#657b83"

[colors.normal]
black = "#073642"
blue = "#268bd2"
cyan = "#2aa198"
green = "#859900"
magenta = "#d33682"
red = "#dc322f"
white = "#eee8d5"
yellow = "#b58900"

[colors.primary]
background = "#fdf6e3"
foreground = "#586e75"

[cursor.style]
blinking = "Never"
shape = "Beam"

[env]
TERM = "alacritty"

[font]
size = {{ alacritty_font_size }}

[font.bold]
family = "FiraCode Nerd Font"
style = "Bold"

[font.bold_italic]
family = "FiraCode Nerd Font"
style = "Bold Italic"

[font.italic]
family = "FiraCode Nerd Font"
style = "Italic"

[font.normal]
family = "FiraCode Nerd Font"
style = "Regular"
{% if ansible_facts.system == "Darwin" %}

[[keyboard.bindings]]
action = "CreateNewTab"
key = "t"
mods = "Control | Shift"
{% endif %}

[[keyboard.bindings]]
action = "Quit"
key = "q"
mods = "Control | Shift"
{% if ansible_facts.system == "Darwin" %}

[[keyboard.bindings]]
action = "SelectNextTab"
key = ":"
mods = "Control | Shift"

[[keyboard.bindings]]
action = "SelectPreviousTab"
key = "j"
mods = "Control | Shift"
{% for key in ["!", "@", "#", "$", "%", "^", "&", "*", "("] %}

[[keyboard.bindings]]
action = "SelectTab{{ loop.index }}"
key = "{{ key }}"
mods = "Control | Shift"
{% endfor %}
{% endif %}

[[keyboard.bindings]]
chars = "\ue000"
key = ";"
mods = "Control"

[[keyboard.bindings]]
chars = "\ue001"
key = "."
mods = "Control"

[[keyboard.bindings]]
chars = "\ue002"
key = "["
mods = "Control"

[[keyboard.bindings]]
chars = "\ue003"
key = "]"
mods = "Control"

[[keyboard.bindings]]
chars = "\ue004"
key = "/"
mods = "Control"

[[keyboard.bindings]]
chars = "\ue005"
key = "\\"
mods = "Control"

[[keyboard.bindings]]
chars = "\ue006"
key = "i"
mods = "Control"

[[keyboard.bindings]]
chars = "\ue007"
key = "j"
mods = "Control"

[terminal.shell]
args = ["{{ '-NoLogo' if user_shell == 'powershell' else '--login' }}"]
program = "{{ user_shell_name }}"
{% if ansible_facts.system == "Darwin" %}

[window]
option_as_alt = "Both"
{% endif %}

[window.padding]
x = 8
y = 0
