# Alacritty configuration file.
#
# For more information, visit
# https://github.com/alacritty/alacritty#configuration.

# Solarized Light theme colors.
[colors.bright]
black = "0x002b36"
blue = "0x839496"
cyan = "0x93a1a1"
green = "0x586e75"
magenta = "0x6c71c4"
red = "0xcb4b16"
white = "0xfdf6e3"
yellow = "0x657b83"

[colors.normal]
black = "0x073642"
blue = "0x268bd2"
cyan = "0x2aa198"
green = "0x859900"
magenta = "0xd33682"
red = "0xdc322f"
white = "0xeee8d5"
yellow = "0xb58900"

[colors.primary]
background = "0xfdf6e3"
foreground = "0x586e75"

[cursor.style]
blinking = "Never"
shape = "Beam"

[env]
TERM = "alacritty"

[font]
size = {{ font_size }}

[font.bold]
family = "FiraCode Nerd Font"
style = "Bold"

[font.bold_italic]
family = "FiraCode Nerd Font"
style = "Bold Italic"

[font.italic]
family = "FiraCode Nerd Font"
style = "Italic"

[font.normal]
family = "FiraCode Nerd Font"
style = "Regular"

[[keyboard.bindings]]
chars = "\ue000"
key = ";"
mods = "Control"

[[keyboard.bindings]]
chars = "\ue001"
key = "["
mods = "Control"

[[keyboard.bindings]]
chars = "\ue002"
key = "]"
mods = "Control"

[[keyboard.bindings]]
chars = "\ue003"
key = "i"
mods = "Control"

[terminal.shell]
args = ["{{ '-NoLogo' if user_shell == 'powershell' else '--login' }}"]
program = "{{ lookup('ansible.builtin.vars', user_shell + '_executable' ) }}"
{% if ansible_system == "Darwin" %}

[window]
option_as_alt = "Both"
{% endif %}

[window.padding]
x = 8
y = 0
