// Hyper terminal configuration file.
//
// See https://hyper.is#cfg for all configuration options.

module.exports = {
  config: {
    backgroundColor: "#000",
    bell: "SOUND",
    borderColor: "#333",
    css: "",
    colors: {
      black: "#000000",
      red: "#C51E14",
      green: "#1DC121",
      yellow: "#C7C329",
      blue: "#0A2FC4",
      magenta: "#C839C5",
      cyan: "#20C5C6",
      white: "#C7C7C7",
      lightBlack: "#686868",
      lightRed: "#FD6F6B",
      lightGreen: "#67F86F",
      lightYellow: "#FFFA72",
      lightBlue: "#6A76FB",
      lightMagenta: "#FD7CFC",
      lightCyan: "#68FDFE",
      lightWhite: "#FFFFFF",
    },
    copyOnSelect: false,
    cursorAccentColor: "#000",
    cursorBlink: false,
    cursorColor: "rgba(248,28,229,0.8)",
    cursorShape: "BEAM",
    defaultSSHApp: true,
    env: {},
    fontFamily: "'Fira Code', monospace",
    fontSize: {{ font_size }},
    fontWeight: "normal",
    fontWeightBold: "bold",
    foregroundColor: "#fff",
    letterSpacing: 0,
    lineHeight: 1,
    macOptionSelectionMode: "vertical",
    padding: "12px 14px",
    quickEdit: false,
    selectionColor: "rgba(248,28,229,0.3)",
    shell: "{{ user_shell }}",
    shellArgs: ["{{ '/NoLogo' if ansible_system == 'Win32NT' else '--login' }}"],
    showHamburgerMenu: "",
    showWindowControls: "",
    termCSS: "",
    updateChannel: "stable",
    webGLRenderer: true,
  },
  keymaps: {
    {% if ansible_system == "Win32NT" %}
    "tab:next": [
      "ctrl+shift+]",
      "ctrl+shift+right",
      "ctrl+alt+right",
      "ctrl+tab"
    ],
    "tab:prev": [
      "ctrl+shift+[",
      "ctrl+shift+left",
      "ctrl+alt+left",
      "ctrl+shift+tab"
    ]
    {% endif %}
  },
  localPlugins: [],
  plugins: [
    "hyper-solarized-light"
  ],
};
