-- WezTerm configuration file.
--
-- For more information, visit https://wezfurlong.org/wezterm/config/files.html.

local wezterm = require 'wezterm'

local config = wezterm.config_builder()
config.audible_bell = 'Disabled'
config.color_scheme = 'Builtin Solarized Light'
config.colors = {
  scrollbar_thumb = '#fdf6e3',
  tab_bar = {
    active_tab = { bg_color = '#fdf6e3', fg_color = '#002b36', intensity = 'Bold' },
    inactive_tab = { bg_color = '#e6e6e6', fg_color = '#1a1a1a' },
    inactive_tab_edge = '#e6e6e6',
    inactive_tab_hover = { bg_color = '#c6c6c6', fg_color = '#3a3a3a' },
    new_tab = { bg_color = '#e6e6e6', fg_color = '#1a1a1a' },
    new_tab_hover = { bg_color = '#c6c6c6', fg_color = '#3a3a3a' },
  },
}
config.default_cursor_style = 'SteadyBar'
config.default_prog = { '{{ lookup("ansible.builtin.vars", user_shell + "_executable" ) }}', '{{ "-NoLogo" if user_shell == "powershell" else "--login" }}' }
config.enable_scroll_bar = true
config.font = wezterm.font { family = 'FiraCode Nerd Font', weight = 'Regular' }
config.font_size = {{ font_size }}
config.keys = {
  { action = wezterm.action.ActivatePaneDirection('Left'), key = 'k', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.ActivatePaneDirection('Right'), key = 'l', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.ActivateTabRelative(-1), key = 'j', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.ActivateTabRelative(1), key = ':', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.MoveTabRelative(-1), key = 'LeftArrow', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.MoveTabRelative(1), key = 'RightArrow', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.RotatePanes('CounterClockwise'), key = 'DownArrow', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.RotatePanes('Clockwise'), key = 'UpArrow', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.SendString('\u{e000}'), key = ';', mods = 'CTRL' },
  { action = wezterm.action.SendString('\u{e001}'), key = '[', mods = 'CTRL' },
  { action = wezterm.action.SendString('\u{e002}'), key = ']', mods = 'CTRL' },
  { action = wezterm.action.SendString('\u{e003}'), key = 'i', mods = 'CTRL' },
  { action = wezterm.action.SpawnTab('CurrentPaneDomain'), key = 't', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.SplitHorizontal({ domain = 'CurrentPaneDomain' }), key = 'n', mods = 'CTRL|SHIFT' },
  { action = wezterm.action.TogglePaneZoomState, key = 'm', mods = 'CTRL|SHIFT' },
}
config.warn_about_missing_glyphs = false
config.window_close_confirmation = 'NeverPrompt'
config.window_decorations = 'INTEGRATED_BUTTONS|RESIZE'
config.window_frame = {
  active_titlebar_bg = '#e6e6e6',
  font_size = {{ font_size }},
  font = wezterm.font { family = 'FiraCode Nerd Font', weight = 'Bold' },
  inactive_titlebar_bg = '#e6e6e6',
}
config.window_padding = { top = 0 }

return config

