// Keyboard shortcuts file for Zed editor.
//
// For more information, visit https://zed.dev/docs/key-bindings.

[
  {
    "bindings": {
      "ctrl-:": "pane::ActivateNextItem",
      "ctrl-shift-j": "pane::ActivatePreviousItem",
      "ctrl-shift-left": "pane::SwapItemLeft",
      "ctrl-shift-m": "workspace::ToggleZoom",
      "ctrl-shift-p": "command_palette::Toggle",
      "ctrl-shift-right": "pane::SwapItemRight",
      "ctrl-shift-w": "pane::CloseActiveItem"
    }
  },
  {
    "bindings": {
      "ctrl-shift-o": "file_finder::Toggle",
      "ctrl-shift-t": "terminal_panel::ToggleFocus"
    },
    "context": "Workspace"
  },
  {
    "bindings": {
      "alt-;": "editor::MoveRight",
      "alt-j": "editor::MoveLeft",
      "alt-k": "editor::MoveDown",
      "alt-l": "editor::MoveUp",
      "ctrl-a": "editor::MoveToBeginningOfLine",
      "ctrl-down": "editor::AddSelectionBelow",
      "ctrl-e": "editor::MoveToEndOfLine",
      "ctrl-p": null,
      "ctrl-shift-s": "terminal_panel::ToggleFocus",
      "ctrl-up": "editor::AddSelectionAbove",
      "ctrl-w": "editor::DeleteToPreviousWordStart",
      "shift-left": "editor::MoveToPreviousWordStart",
      "shift-right": "editor::MoveToNextWordEnd"
    },
    "context": "Editor"
  },
  {
    "bindings": {
      "ctrl-n": ["terminal::SendKeystroke", "ctrl-n"],
      "ctrl-p": ["terminal::SendKeystroke", "ctrl-p"],
      "ctrl-shift-t": "workspace::NewTerminal",
      "ctrl-shift-n": "pane::SplitRight",
      "ctrl-shift-s": "terminal_panel::ToggleFocus"
    },
    "context": "Terminal"
  }
]
