// Settings file for Zed editor.
//
// For more information, visit https://zed.dev/docs/configuring-zed.

{
  "agent": {
    "button": false,
    "enabled": false,
  },
{% if zed_extensions | length > 0 %}
  "auto_install_extensions": {{ zed_extensions | to_nice_json(indent=2) | indent(2) }},
{% endif %}
  "auto_update": false,
  "base_keymap": "VSCode",
  "buffer_font_family": "FiraCode Nerd Font",
  "buffer_font_size": {{ zed_font_size }},
  "collaboration_panel": {
    "button": false,
  },
  "cursor_shape": "bar",
  "diagnostics": {
    "inline": {
      "enabled": false,
    },
  },
  "disable_ai": true,
  "extend_comment_on_newline": false,
  "file_scan_exclusions": [
    "**/.DS_Store",
    "**/.classpath",
    "**/.git",
    "**/.hg",
    "**/.jj",
    "**/.localized",
    "**/.settings",
    "**/.sl",
    "**/.svn",
    "**/Thumbs.db",
  ],
  "file_types": {
    "Shell Script": ["*.bats", ".*.bash", ".env.*"],
  },
  "git": {
    "blame": {
      "show_avatar": false,
    },
  },
  "indent_guides": {
    "coloring": "indent_aware",
  },
  "inlay_hints": {
    "enabled": true,
    "show_background": false,
  },
  "inline_code_actions": false,
  "jsx_tag_auto_close": {
    "enabled": false,
  },
  "languages": {
    "Dockerfile": {
      "tab_size": 4,
    },
    "Just": {
      "format_on_save": "off",
    },
    "Markdown": {
      "format_on_save": "on",
    },
    "Nu": {
      "tab_size": 4,
    },
    "PowerShell": {
      "enable_language_server": false,
    },
    "Python": {
      "language_servers": ["ty", "!basedpyright", "..."],
      "tab_size": 4,
    },
    "Rust": {
      "tab_size": 4,
    },
    "TOML": {
      "prettier": { "allowed": true, "plugins": ["prettier-plugin-toml"] },
    },
  },
  "lsp": {
    "ty": {
      "settings": {
        "completions": {
          "autoImport": true,
        },
      },
    },
  },
  "notification_panel": {
    "button": false,
  },
  "on_last_window_closed": "quit_app",
  "prettier": {
    "arrowParens": "always",
    "proseWrap": "always",
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
  },
{% if zed_profiles | length > 0 %}
  "profiles": {{ zed_profiles | to_nice_json(indent=2) | indent(2) }},
{% endif %}
  "project_panel": {
    "sticky_scroll": false,
  },
  "restore_on_startup": "last_workspace",
  "show_completions_on_input": false,
{% if zed_remotes | length > 0 %}
  "ssh_connections": {{ zed_remotes | to_nice_json(indent=2) | indent(2) }},
{% endif %}
  "status_bar": {
    "line_endings_button": true,
  },
  "tab_size": 2,
  "tabs": {
    "file_icons": true,
    "git_status": true,
  },
  "telemetry": {
    "diagnostics": false,
    "metrics": false,
  },
  "terminal": {
    "cursor_shape": "bar",
    "detect_venv": "off",
    "font_family": "FiraCode Nerd Font",
    "font_size": {{ zed_font_size }},
    "line_height": "standard",
    "option_as_meta": true,
    "shell": {
      "with_arguments": {
        "args": ["--login"],
        "program": "{{ lookup('ansible.builtin.vars', user_shell + '_name' ) }}",
      },
    },
    "toolbar": {
      "breadcrumbs": false,
    },
  },
  "theme": {
    "dark": "Solarized Dark",
    "light": "Solarized Light",
  },
  "theme_overrides": {
    "Solarized Light": {
      "text.muted": "#586e75",
    },
  },
  "title_bar": {
    "show_onboarding_banner": false,
    "show_sign_in": false,
    "show_user_picture": false,
    "show_menus": true,
  },
  "toolbar": {
    "agent_review": false,
    "code_actions": true,
  },
  "ui_font_family": "Fira Sans",
  "ui_font_size": {{ zed_font_size }},
  "use_autoclose": false,
  "use_auto_surround": false,
  "when_closing_with_no_tabs": "keep_window_open",
  "windows": {
    "languages": {
      "Fish": {
        "enable_language_server": false,
      },
      "PowerShell": {
        "enable_language_server": true,
      },
    },
  },
}
