// Settings file for Zed editor.
//
// For more information, visit https://zed.dev/docs/configuring-zed.

{
  "buffer_font_size": {{ font_size }},
  "theme": {
    "mode": "system",
    "light": "Gruvbox Light Soft",
    "dark": "One Dark"
  },
  "ui_font_size": {{ font_size }}
}
