---
- name: Install Libre Office for FreeBSD
  become: true
  community.general.pkgng:
    name: libreoffice
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Libre Office for Linux
  ansible.builtin.package:
    name: ripgrep
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Libre Office for MacOS
  community.general.homebrew_cask:
    accept_external_apps: true
    name: libreoffice
    state: present
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Libre Office for Windows
  community.windows.win_scoop:
    global: true
    name: libreoffice
  tags:
    - install
  when: ansible_facts.system == "Win32NT"
