# SSH daemon configuration file.
#
# For a reference of allowed variables, see 
# https://linux.die.net/man/5/sshd_config.

# File containing the public keys that can be used for user authentication.
AuthorizedKeysFile .ssh/authorized_keys
# Disables keyboard interactive based authentication.
ChallengeResponseAuthentication no
# Allows password authentication.
PasswordAuthentication yes
# Allow direct SSH login as root.
PermitRootLogin yes
# Do not print message of the day on login.
PrintMotd no
# Write system logs with the AUTHPRIV code.
SyslogFacility AUTHPRIV
# Do not check the remote host name IP mapping.
UseDNS no
# Enable ChallengeResponseAuthentication and PasswordAuthentication options.
UsePAM yes
# Disallow sharing of X11 windows.
X11Forwarding no
