# Docker configuration file for ignoring paths while collecting context.
#
# For more information, visit
# https://codefresh.io/docker-tutorial/not-ignore-dockerignore-2/.

.DS_Store
.env
.git/
.github/
.gitignore
.venv/
*.bak
*.dockerfile
*.log
ansible_collections/*
node_modules/
!ansible_collections/scruffaluff
