# Docker configuration file for ignoring paths while collecting context.
#
# For more information, visit 
# https://codefresh.io/docker-tutorial/not-ignore-dockerignore-2/.

.DS_Store
.git/
.github/
.gitignore
.venv/
node_modules/
package-lock.json
