# Shfmt configuration file for formatting text.
#
# Options are chosen to follow Google shell style guide,
# https://google.github.io/styleguide/shellguide.html. For a list of shfmt
# options, see
# https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd#options.

[*.sh]
indent_size = 2
indent_style = space
space_redirects = true
switch_case_indent = true
