# Shfmt configuration file.
#
# Options are chosen to follow Google shell style guide,
# https://google.github.io/styleguide/shellguide.html. For a list of shfmt
# options, see
# https://github.com/mvdan/sh/blob/master/cmd/shfmt/shfmt.1.scd#options.

# Set indent length to 2 spaces.
-i 2
