# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

__pycache__/
.DS_Store
.env
.hypothesis/
.local/
.vagrant/
.venv/
.vscode/
*.bak
*.lock
*.log
*.tar.gz
*.xml
/.vendor/
/.vitepress/cache/
/.vitepress/dist/
/ansible_collections/*
/ansible_collections/scruffaluff/bootware/CHANGELOG.md
/ansible_collections/scruffaluff/bootware/README.md
/build/
/data/public/install*
/doc/software.md
deno.lock
dist/
node_modules/
tmp/
!/ansible_collections/scruffaluff
