# Git configuration file for ignoring untracked paths.
#
# For more information, visit https://git-scm.com/docs/gitignore.

.DS_Store
.env
.local/
.vagrant/
.venv/
.vscode/
/build/
/docs/index.md
/docs/software.md
/site/
/tmp/
dist/
molecule/
node_modules/
