# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.git/
.venv/
.vitepress/cache/
.vitepress/dist/
*.bats
node_modules/
package-lock.json
site/
tmp/
