# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.git/
.mypy_cache/
.venv/
.vitepress/cache/
.vitepress/dist/
*.bats
*.log
ansible_collections/*
node_modules/
package-lock.json
site/
tmp/
!ansible_collections/scruffaluff
