# Prettier configuration file for ignoring paths.
#
# For more information, visit https://prettier.io/docs/en/ignore.html.

.git/
.mypy_cache/
.pytest_cache/
.venv/
*.bats
*.log
*.nu
*.xml
/.vendor/
/.vitepress/cache/
/.vitepress/dist/
/build/
/data/public/
ansible_collections/*
node_modules/
package-lock.json
tmp/
!ansible_collections/scruffaluff
