# ShellCheck configuration file for settings shell script rules.
#
# For more information, visit 
# https://github.com/koalaman/shellcheck/blob/master/shellcheck.1.md#rc-files.

disable=SC1091
enable=add-default-case,avoid-nullary-conditions,quote-safe-variables,require-variable-braces
severity=style
