# YamlLint configuration file for enforcing YAML file conventions.
#
# For more information, visit
# https://yamllint.readthedocs.io/en/stable/configuration.html.

---
extends: default

ignore: |
  .vagrant/
  .venv/
  node_modules/
  tmp/
rules:
  indentation:
    spaces: 2
  # Prettier already enforces line length, so YamlLint only complains about long
  # URLs.
  line-length: disable
