# Configuration file for Marimo.
#
# For more information, visit https://docs.marimo.io/guides/configuration.

[ai]
inline_tooltip = false

[display]
custom_css = ["{{ user_home }}/.config/marimo/marimo.css"]

[formatting]
line_length = 80

# Marimo does not yet provide a way to disable keybindings so
# "Alt-Ctrl-Shift-q" is used instead.
[keymap.overrides]
"cell.cellActions" = "Alt-Ctrl-Shift-q"
"cell.complete" = "Ctrl-i"
"cell.foldAll" = "Alt-Ctrl-Shift-q"
"cell.toggleComment" = "Ctrl-/"
"cell.unfoldAll" = "Alt-Ctrl-Shift-q"
"completion.moveDown" = "Ctrl-n"
"completion.moveUp" = "Ctrl-p"
"global.interrupt" = "Alt-Ctrl-Shift-q"
"global.toggleMinimap" = "Alt-Ctrl-Shift-q"

[language_servers.pylsp]
enabled = true
enable_mypy = false
enable_ruff = true

# Disable Ty integration until it is stable.
[language_servers.ty]
enabled = false

[save]
format_on_save = false

[runtime]
output_max_bytes = 1000000000
