deb [signed-by=/usr/share/keyrings/nvidia-docker-archive-keyring.gpg] https://nvidia.github.io/libnvidia-container/stable/ubuntu20.04/$(ARCH) /
deb [signed-by=/usr/share/keyrings/nvidia-docker-archive-keyring.gpg] https://nvidia.github.io/nvidia-container-runtime/stable/ubuntu20.04/$(ARCH) /
deb [signed-by=/usr/share/keyrings/nvidia-docker-archive-keyring.gpg] https://nvidia.github.io/nvidia-docker/ubuntu20.04/$(ARCH) /
