---
- name: Copy ignore file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.ignore"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: ignore
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy ignore file for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.ignore"
    force: true
    src: ignore
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of ignore file for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\.ignore"
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
