---
- name: Install Bats for FreeBSD
  become: true
  community.general.pkgng:
    name: bats-core
  when: ansible_system == "FreeBSD"

- name: Install Bats for Linux
  ansible.builtin.package:
    name: "{{ 'bash-bats' if ansible_pkg_mgr == 'pacman' else 'bats' }}"
  become: true
  when: ansible_system == "Linux"

- name: Install Bats for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: bats-core
  when: ansible_system == "Darwin"
