BuildArch: noarch
License: MIT
Name: bootware
Packager: Macklan Weinstein <macklan.weinstein@gmail.com>
Release: 0.fc33
Requires: ansible >= 2.13.0, bash >= 4.0.0, curl >= 7.0.0, git >= 2.0.0
Source: bootware-%{version}.tar.gz
Summary: Bootstrap software installations with Ansible
URL: https://github.com/scruffaluff/bootware
Vendor: Macklan Weinstein <macklan.weinstein@gmail.com>
Version: ${version}

%check
./bootware --version

%description
Bootstrap software installations with Ansible

%files
/usr/share/bash-completion/completions/bootware
/etc/fish/completions/bootware.fish
/usr/bin/bootware
/usr/share/man/man1/bootware.1.gz

%install
mkdir -p %{buildroot}/usr/share/bash-completion/completions \
    %{buildroot}/etc/fish/completions %{buildroot}/usr/share/man/man1 \
    %{buildroot}/usr/bin 
mv bootware.bash %{buildroot}/usr/share/bash-completion/completions/bootware
mv bootware.fish %{buildroot}/etc/fish/completions/bootware.fish
mv bootware.1 %{buildroot}/usr/share/man/man1/bootware.1
install --mode 755 bootware %{buildroot}/usr/bin/bootware

%prep
%setup
