Package: bootware
Version: {{ version }}
Architecture: all
Essential: no
Priority: optional
Depends: ansible (>= 2.9.0), bash, curl, git
Maintainer: Macklan Weinstein <macklan.weinstein@gmail.com>
Description: Bootstrap software installations with Ansible
