Architecture: all
Depends: ansible, bash
Description: Bootstrap software installations with Ansible
Essential: no
Homepage: https://github.com/scruffaluff/bootware
Maintainer: Macklan Weinstein <macklan.weinstein@gmail.com>
Package: bootware
Priority: optional
Version: ${version}
