# Maintainer: Macklan Weinstein <macklan.weinstein@gmail.com>

arch=('x86_64' 'aarch64' 'riscv64')
depends=('bash')
license=('MIT')
optdepends=('doas: privilege elevation' 'sudo: privilege elevation')
pkgdesc='Bootstrap software installations with Ansible'
pkgname=bootware
pkgrel=0
pkgver=${version}
source=('bootware' 'bootware.1' 'bootware.bash' 'bootware.fish')
url='https://github.com/scruffaluff/bootware'

package() {
  mkdir --parents "${pkgdir}/etc/bash_completion.d" \
    "${pkgdir}/etc/fish/completions" "${pkgdir}/usr/local/share/man/man1" \
    "${pkgdir}/usr/local/bin"
  mv bootware.bash "${pkgdir}/etc/bash_completion.d/bootware.bash"
  mv bootware.fish "${pkgdir}/etc/fish/completions/bootware.fish"
  mv bootware.1 "${pkgdir}/usr/local/share/man/man1/bootware.1"
  install -Dm 755 bootware "${pkgdir}/usr/bin/bootware"
}
