# Software

Bootware uses a collection of Ansible roles to install and manage a wide variety
of software. While some roles are manually tested, the following table shows the
software continuously tested by the GitHub CI workflows.

{{ table }}
