%define name bootware
%define version {{ version }}

Name: bootware
Version: {{ version }}
BuildArch: noarch
License: MIT
Packager: Macklan Weinstein <macklan.weinstein@gmail.com>
Source: %{name}-%{version}.tar.gz
Summary: Bootstrap software installations with Ansible
Release: 1.fc33
Requires: ansible, git
URL: https://github.com/scruffaluff/bootware
Vendor: Macklan Weinstein <macklan.weinstein@gmail.com>

%description
Bootstrap software installations with Ansible

%prep
%setup

%install
mkdir --parents %{buildroot}/usr/local/bin/
install --mode 755 bootware %{buildroot}/usr/local/bin/bootware

%files
/usr/local/bin/%{name}
