---
# Do not integrate PSGallery! Its trust workflow is exceedingly unrealiable on
# Windows 11.
- name: Get latest PowerShell Core version for Windows
  ansible.windows.win_uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/cask/powershell.json
  register: powershell_cask
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Install PowerShell Core for Windows
  ansible.windows.win_package:
    arguments:
      - /quiet
      - ENABLE_PSREMOTING=1
      - REGISTER_MANIFEST=1
    path: >-
      https://github.com/PowerShell/PowerShell/releases/download/v{{
      powershell_cask.json.version }}/PowerShell-{{ powershell_cask.json.version
      }}-win-{{ powershell_arch[system_architecture] }}.msi
  tags:
    - install
  vars:
    powershell_arch:
      amd64: x64
      arm64: arm64
  when: ansible_facts.system == "Win32NT"

- name: Copy PowerShell settings files for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\{{ item }}"
    force: true
    src: profile.ps1
  loop:
    - Documents\PowerShell\Microsoft.PowerShell_profile.ps1
    - Documents\WindowsPowerShell\Microsoft.PowerShell_profile.ps1
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy PowerShell user modules for Windows
  ansible.windows.win_copy:
    dest: "{{ item[0] }}\\{{ item[1] }}.psm1"
    force: true
    src: "{{ item[1] }}.psm1"
  loop: >-
    {{ powershell_user_module_paths | product(powershell_modules) | list }}
  tags:
    - config
  vars:
    powershell_modules:
      - SSHCompletion
  when: ansible_facts.system == "Win32NT"

- name: Set owner of PowerShell files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\{{ item }}"
    recurse: true
    user: "{{ user_id }}"
  loop:
    - Documents\PowerShell
    - Documents\WindowsPowerShell
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Disable PowerShell update check during startup for Windows
  ansible.windows.win_environment:
    level: machine
    name: POWERSHELL_UPDATECHECK
    value: "Off"
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Register PowerShell files as executables for Windows
  ansible.windows.win_regedit:
    data: "{{ item.data }}"
    path: "{{ item.path }}"
    type: string
  loop:
    - data: ps1file
      path: "HKLM:\\Software\\Classes\\.ps1"
    - data: >-
        "C:\Program Files\PowerShell\7\pwsh.exe" -NoProfile -ExecutionPolicy
        RemoteSigned -File "%1" %*
      path: "HKLM:\\Software\\Classes\\ps1file\\shell\\open\\command"
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

# Since ansible_facts.env.Path is fixed on play connection, using
# ansible.windows.win_environment for PATHEXT in other roles will overwrite
# changes made here. Thus ansible.windows.win_environment cannot be used to
# extend PATHEXT.
- name: Add PowerShell files to system path for Windows
  ansible.windows.win_shell: |
    $PathExt = [Environment]::GetEnvironmentVariable('PATHEXT', 'Machine')
    If (-Not ($PathExt -Like "*.PS1*")) {
      [System.Environment]::SetEnvironmentVariable(
        'PATHEXT', "$PathExt;.PS1", 'Machine'
      )
      Write-Output 'PATHEXT updated'
    }
  changed_when: "'PATHEXT updated' in powershell_pathext.stdout"
  register: powershell_pathext
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Set PowerShell Core as default OpenSSH shell for Windows
  ansible.windows.win_regedit:
    data: C:\Program Files\PowerShell\7\pwsh.exe
    name: DefaultShell
    path: HKLM:\SOFTWARE\OpenSSH
    type: string
  tags:
    - config
  when: ansible_facts.system == "Win32NT" and user_login == "powershell"

- name: Mark role as executed to prevent reruns
  ansible.builtin.set_fact:
    cacheable: true
    powershell_role_executed: true
