---
vscode_arch_:
  amd64: x64
  arm64: arm64
vscode_chrome_path_linux_:
  apk: /usr/bin/chromium
  apt: /usr/bin/google-chrome
  dnf: /usr/bin/google-chrome
  pacman: /usr/sbin/chromium
vscode_chrome_path_:
  Darwin: /Applications/Google Chrome.app/Contents/MacOS/Google Chrome
  FreeBSD: /usr/local/bin/chrome
  Linux: >-
    {{ vscode_chrome_path_linux_.get(system_pkg_mgr, '/usr/bin/google-chrome')
    }}
  Win32NT: >-
    {{ (scoop_path | replace(backslash, '/')) + '/shims/chrome.exe' }}
vscode_path_linux_:
  apk: /usr/lib/code-oss/resources/app
  pacman: /opt/visual-studio-code/resources/app
vscode_path_:
  Darwin: /Applications/Visual Studio Code.app/Contents/Resources/app
  FreeBSD: /usr/local/share/code-oss/resources/app
  Linux: >-
    {{ vscode_path_linux_.get(system_pkg_mgr, '/usr/share/code/resources/app')
    }}
  Win32NT: C:\Program Files\Microsoft VS Code\resources\app
vscode_system_:
  Darwin: osx
  Linux: linux
  Win32NT: windows
vscode_user_path_:
  Darwin: "{{ user_home }}/Library/Application Support/Code/User"
  FreeBSD: "{{ user_home }}/.config/Code/User"
  Linux: "{{ user_home }}/.config/Code/User"
  Win32NT: "{{ user_home }}\\AppData\\Roaming\\VSCode\\User"

vscode_arch: "{{ vscode_arch_[system_architecture] }}"
vscode_chrome_path: "{{ vscode_chrome_path_[ansible_facts.system] }}"
vscode_ctrl_key: "{{ 'cmd' if ansible_facts.system == 'Darwin' else 'ctrl' }}"
vscode_custom_html: |
  <style>
    .terminal.xterm {
      top: 0px;
    }
  </style>
vscode_extensions:
  - 13xforever.language-x86-64-assembly
  - alefragnani.bookmarks
  - antfu.vite
  - astral-sh.ty
  - bierner.markdown-mermaid
  - bmalehorn.vscode-fish
  - bradlc.vscode-tailwindcss
  - charliermarsh.ruff
  - coolbear.systemd-unit-file
  - dan-c-underwood.arm
  - dbaeumer.vscode-eslint
  - denoland.vscode-deno
  - dnut.rewrap-revived
  - elijah-potter.harper
  - esbenp.prettier-vscode
  - firefox-devtools.vscode-firefox-debug
  - foxundermoon.shell-format
  - james-yu.latex-workshop
  - leanprover.lean4
  - mechatroner.rainbow-csv
  - mhutchie.git-graph
  - ms-playwright.playwright
  - ms-vscode-remote.vscode-remote-extensionpack
  - nefrob.vscode-just-syntax
  - pomdtr.excalidraw-editor
  - rust-lang.rust-analyzer
  - sukumo28.wav-preview
  - svelte.svelte-vscode
  - tamasfe.even-better-toml
  - thenuprojectcontributors.vscode-nushell-lang
  - timonwong.shellcheck
  - vadimcn.vscode-lldb
  - vitest.explorer
  - vscode-icons-team.vscode-icons
  - vue.volar
vscode_font_size: "{{ font_size }}"
vscode_install_customizations: true
vscode_path: >-
  {{ vscode_path_.get(ansible_facts.system, '/usr/share/code/resources/app') }}
vscode_remote_extensions:
  - alefragnani.bookmarks
  - bierner.markdown-mermaid
  - bmalehorn.vscode-fish
  - coolbear.systemd-unit-file
  - dnut.rewrap-revived
  - elijah-potter.harper
  - foxundermoon.shell-format
  - james-yu.latex-workshop
  - mechatroner.rainbow-csv
  - mhutchie.git-graph
  - nefrob.vscode-just-syntax
  - pomdtr.excalidraw-editor
  - sukumo28.wav-preview
  - tamasfe.even-better-toml
  - thenuprojectcontributors.vscode-nushell-lang
  - timonwong.shellcheck
  - vscode-icons-team.vscode-icons
vscode_remotes: {}
vscode_style: true
vscode_system: "{{ vscode_system_.get(ansible_facts.system, 'linux') }}"
vscode_user_path: >-
  {{ vscode_user_path_.get(ansible_facts.system, user_home +
  '/.config/Code/User') }}
