Architecture: all
Depends: ansible (>=2.13.0), bash (>=4.0.0), curl (>=7.0.0), git (>=2.0.0)
Description: Bootstrap software installations with Ansible
Essential: no
Homepage: https://github.com/scruffaluff/bootware
Maintainer: Macklan Weinstein <macklan.weinstein@gmail.com>
Package: bootware
Priority: optional
Version: ${version}
