---
- name: Install Yazi dependencies for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name:
      - poppler
      - resvg
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Get latest Yazi version for Linux
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/yazi.json
  register: yazi_formula
  tags:
    - install
  when: ansible_facts.system == "Linux"

# Disabled since many package manager include an incomplete version of Yazi.
# - name: Install Yazi for Linux
#   ansible.builtin.package:
#     name: yazi
#   become: true
#   ignore_errors: true
#   register: yazi_linux
#   tags:
#     - install
#   when: ansible_facts.system == "Linux"

- name: Create Yazi temporary directory for Linux
  ansible.builtin.tempfile:
    state: directory
  register: yazi_temp
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Set Yazi temporary directory permissions for Linux
  ansible.builtin.file:
    mode: "755"
    path: "{{ yazi_temp.path }}"
    state: directory
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Download Yazi for Linux
  ansible.builtin.unarchive:
    dest: "{{ yazi_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/sxyazi/yazi/releases/download/v{{
      yazi_formula.json.versions.stable }}/yazi-{{ yazi_arch }}-unknown-linux-{{
      yazi_libc }}.zip
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Yazi for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/{{ item }}
    force: true
    mode: "755"
    remote_src: true
    src: >-
      {{ yazi_temp.path }}/yazi-{{ yazi_arch }}-unknown-linux-{{ yazi_libc }}/{{
      item }}
  become: true
  loop:
    - ya
    - yazi
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Yazi for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: yazi
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Yazi for Windows
  community.windows.win_scoop:
    global: true
    name:
      - file
      - yazi
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Install Yazi shell completions for Linux
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    force: true
    mode: "644"
    remote_src: true
    src: >-
      {{ yazi_temp.path }}/yazi-{{ yazi_arch }}-unknown-linux-{{ yazi_libc
      }}/completions/yazi.{{ item.shell }}
  become: true
  loop:
    - dest: "{{ bash_completion }}/yazi"
      shell: bash
    - dest: "{{ fish_completion }}/yazi.fish"
      shell: fish
  tags:
    - completion
    - install
  when: ansible_facts.system == "Linux"

- name: Install Yazi plugins for Unix
  ansible.builtin.command:
    cmd: ya pkg add {{ item }}
  become: true
  become_user: "{{ user_id }}"
  changed_when: "'Deploying package' in yazi_plugin_install.stdout"
  environment:
    PATH: /opt/homebrew/bin:/usr/local/bin:{{ ansible_facts.env.PATH }}
  failed_when: >-
    yazi_plugin_install.rc != 0 and 'already exists' not in
    yazi_plugin_install.stderr
  loop: "{{ yazi_plugins }}"
  register: yazi_plugin_install
  tags:
    - plugin
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Install Yazi plugins for Windows
  ansible.windows.win_shell: ya pkg add {{ item }}
  changed_when: "'Deploying package' in yazi_plugin_install.stdout"
  environment:
    Path: "{{ scoop_path }}\\shims;{{ ansible_facts.env.Path }}"
  failed_when: >-
    yazi_plugin_install.rc != 0 and 'already exists' not in
    yazi_plugin_install.stderr
  loop: "{{ yazi_plugins }}"
  register: yazi_plugin_install
  tags:
    - plugin
  when: ansible_facts.system == "Win32NT"

- name: Create Yazi configuration directories for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/{{ item }}"
    state: directory
  become: true
  loop:
    - yazi
    - yazi/plugins/smart-open.yazi
  tags:
    - config
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Copy Yazi configuration files for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.config/yazi/{{ item.dest }}"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: "{{ item.src }}"
  become: true
  loop:
    - dest: keymap.toml
      src: keymap.toml
    - dest: theme.toml
      src: theme.toml
    - dest: yazi.toml
      src: yazi.toml
    - dest: plugins/smart-open.yazi/main.lua
      src: smart_open.lua
  tags:
    - config
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Create Yazi configuration directories for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\AppData\\Roaming\\yazi\\{{ item }}"
    state: directory
  loop:
    - config
    - config\plugins\smart-open.yazi
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy Yazi configuration files for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\AppData\\Roaming\\yazi\\config\\{{ item.dest }}"
    force: true
    src: "{{ item.src }}"
  loop:
    - dest: keymap.toml
      src: keymap.toml
    - dest: theme.toml
      src: theme.toml
    - dest: yazi.toml
      src: yazi.toml
    - dest: plugins/smart-open.yazi/main.lua
      src: smart_open.lua
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of Yazi files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\AppData\\Roaming\\yazi"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Remove Yazi temporary directory for Linux
  ansible.builtin.file:
    path: "{{ yazi_temp.path }}"
    state: absent
  tags:
    - install
  when: ansible_facts.system == "Linux"
