// Configuraion file for Zellij.
//
// For more information, visit
// https://zellij.dev/documentation/configuration.html.

keybinds {
    unbind "Alt h"
    unbind "Ctrl b"
    unbind "Ctrl f"
    RenameTab {
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
    RenamePane {
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
    move {
        bind "j" "Left" { MovePane "Left"; }
        bind "k" "Down" { MovePane "Down"; }
        bind "l" "Up" { MovePane "Up"; }
        bind ";" "Right" { MovePane "Right"; }
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
    normal {
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
    pane {
        bind "j" "Left" { MoveFocus "Left"; }
        bind ";" "Right" { MoveFocus "Right"; }
        bind "k" "Down" { MoveFocus "Down"; }
        bind "l" "Up" { MoveFocus "Up"; }
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
    resize {
        bind "j" "Left" { Resize "Left"; }
        bind "k" "Down" { Resize "Down"; }
        bind "l" "Up" { Resize "Up"; }
        bind ";" "Right" { Resize "Right"; }
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
    scroll {
        bind "k" "Down" { ScrollDown; }
        bind "l" "Up" { ScrollUp; }
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
    session {
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
    tab {
        bind "j" "Left" { GoToPreviousTab; }
        bind ";" "Right" { GoToNextTab; }
        bind "Alt j" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt ;" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt k" "Alt Down" { MoveFocus "Down"; }
        bind "Alt l" "Alt Up" { MoveFocus "Up"; }
    }
}

session_serialization false
serialize_pane_viewport false
styled_underlines true

themes {
    default {
        bg 147 161 161
        black 253 246 227
        blue 38 139 210
        cyan 42 161 152
        fg 40 110 160
        green 133 153 0
        magenta 211 54 130
        orange 203 75 22
        red 220 50 47
        white 7 54 66
        yellow 181 137 0
    }
}

ui {
    pane_frames {
        rounded_corners true
    }
}
