---
- name: Get latest Kubeshark version for Unix
  ansible.builtin.uri:
    headers: "{{ github_api_headers }}"
    method: GET
    return_content: true
    url: https://api.github.com/repos/kubeshark/kubeshark/releases/latest
  register: kubeshark_release_unix
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Install Kubeshark for Unix
  ansible.builtin.get_url:
    dest: /usr/local/bin/kubeshark
    force: true
    mode: "755"
    url: >-
      https://github.com/kubeshark/kubeshark/releases/download/{{
      kubeshark_release_unix.json.tag_name }}/kubeshark_{{ ansible_facts.system
      | lower }}_{{ system_architecture }}
  become: true
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Get latest Kubeshark version for Windows
  ansible.windows.win_uri:
    headers: "{{ github_api_headers }}"
    method: GET
    return_content: true
    url: https://api.github.com/repos/kubeshark/kubeshark/releases/latest
  register: kubeshark_release_windows
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Create Kubeshark program directory for Windows
  ansible.windows.win_file:
    path: C:\Program Files\Kubeshark
    state: directory
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Add Kubeshark to system path for Windows
  ansible.windows.win_path:
    elements: C:\Program Files\Kubeshark
    scope: machine
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Install Kubeshark for Windows
  ansible.windows.win_get_url:
    dest: C:\Program Files\Kubeshark\kubeshark.exe
    url: >-
      https://github.com/kubeshark/kubeshark/releases/download/{{
      kubeshark_release_windows.json.tag_name }}/kubeshark.exe
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Create Kubeshark temporary directory for Unix
  ansible.builtin.tempfile:
    state: directory
  register: kubeshark_temp
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Create Kubeshark shell completions for Unix
  ansible.builtin.shell:
    cmd: >-
      kubeshark completion {{ item }} > {{ kubeshark_temp.path }}/kubeshark.{{
      item }}
  become: true
  changed_when: true
  environment:
    PATH: /opt/homebrew/bin:/usr/local/bin:{{ ansible_facts.env.PATH }}
  loop:
    - bash
    - fish
  tags:
    - completion
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Install Kubeshark shell completions for Unix
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    force: true
    mode: "644"
    remote_src: true
    src: "{{ kubeshark_temp.path }}/kubeshark.{{ item.shell }}"
  become: true
  loop:
    - dest: "{{ bash_completion }}/kubeshark"
      shell: bash
    - dest: "{{ fish_completion }}/kubeshark.fish"
      shell: fish
  tags:
    - completion
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Remove Kubeshark temporary directory for Unix
  ansible.builtin.file:
    path: "{{ kubeshark_temp.path }}"
    state: absent
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]
