---
- name: Install Starship for FreeBSD
  become: true
  community.general.pkgng:
    name: starship
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Starship for Linux
  ansible.builtin.package:
    name: starship
  become: true
  ignore_errors: true
  register: starship_linux
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Get latest Starship version for Linux
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/starship.json
  register: starship_formula
  tags:
    - install
  when: ansible_facts.system == "Linux" and starship_linux is failed

- name: Create Starship temporary directory for Linux
  ansible.builtin.tempfile:
    state: directory
  register: starship_temp
  tags:
    - install
  when: ansible_facts.system == "Linux" and starship_linux is failed

- name: Set Starship temporary directory permissions for Linux
  ansible.builtin.file:
    mode: "755"
    path: "{{ starship_temp.path }}"
    state: directory
  tags:
    - install
  when: ansible_facts.system == "Linux" and starship_linux is failed

- name: Download Starship for Linux
  ansible.builtin.unarchive:
    dest: "{{ starship_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/starship/starship/releases/download/v{{
      starship_formula.json.versions.stable }}/starship-{{ starship_arch
      }}-unknown-linux-{{ starship_libc }}.tar.gz
  tags:
    - install
  when: ansible_facts.system == "Linux" and starship_linux is failed

- name: Install Starship for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/starship
    force: true
    mode: "755"
    remote_src: true
    src: "{{ starship_temp.path }}/starship"
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux" and starship_linux is failed

- name: Install Starship for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: starship
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Starship for Windows
  community.windows.win_scoop:
    global: true
    name: starship
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Create Starship Nushell configuration for Unix
  ansible.builtin.shell: >-
    starship init nu > '{{ nushell_vendor_autoload }}/starship.nu'
  become: true
  changed_when: true
  environment:
    PATH: /opt/homebrew/bin:/usr/local/bin:{{ ansible_facts.env.PATH }}
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Create Starship Nushell configuration for Windows
  # Using "WriteAllLines" to avoid the Byte Order Mark (BOM) that PowerShell 5
  # prepends to outputs redirected to files.
  ansible.windows.win_shell: |
    $Text = starship init nu
    [System.IO.File]::WriteAllLines("{{ nushell_vendor_autoload }}/starship.nu", $Text)
  changed_when: true
  environment:
    Path: "{{ scoop_path }}\\shims;{{ ansible_facts.env.Path }}"
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Copy Starship settings file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.config/starship.toml"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: starship.toml
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Starship settings file for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.config\\starship.toml"
    force: true
    src: starship.toml
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of Starship file for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\.config\\starship.toml"
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Remove Starship temporary directory for Linux
  ansible.builtin.file:
    path: "{{ starship_temp.path }}"
    state: absent
  tags:
    - install
  when: ansible_facts.system == "Linux" and starship_linux is failed
