---
helm_plugins: []
  # TODO: Enable plugins once they support Helm version 4.
  # - https://github.com/aslafy-z/helm-git
  # - https://github.com/databus23/helm-diff
  # - https://github.com/jkroepke/helm-secrets
