---
- name: Get latest Helmfile version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/helmfile.json
  register: helmfile_formula
  when: ansible_system == "Linux"

- name: Install Helmfile for FreeBSD
  become: true
  community.general.pkgng:
    name: helmfile
  when: ansible_system == "FreeBSD"

- name: Download Helmfile for Linux
  ansible.builtin.unarchive:
    dest: /tmp/
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/helmfile/helmfile/releases/download/v{{
      helmfile_formula.json.versions.stable }}/helmfile_{{
      helmfile_formula.json.versions.stable }}_linux_{{ system_architecture
      }}.tar.gz
  become: true
  when: ansible_system == "Linux"

- name: Install Helmfile for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/helmfile
    mode: "755"
    remote_src: true
    src: /tmp/helmfile
  become: true
  when: ansible_system == "Linux"

- name: Install Helmfile for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: helmfile
  when: ansible_system == "Darwin"

- name: Install Helmfile for Windows
  community.windows.win_scoop:
    name: helmfile
  when: ansible_system == "Win32NT"
