---
- name: Install Jq for FreeBSD
  become: true
  community.general.pkgng:
    name: jq
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Jq for Linux
  ansible.builtin.package:
    name: jq
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Jq for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: jq
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Jq for Windows
  community.windows.win_scoop:
    global: true
    name: jq
  tags:
    - install
  when: ansible_facts.system == "Win32NT"
