---
- name: Install Beekeeper for Linux
  become: true
  community.general.flatpak:
    name: io.beekeeperstudio.Studio
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Beekeeper for MacOS
  community.general.homebrew_cask:
    accept_external_apps: true
    name: beekeeper-studio
    state: present
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Beekeeper for Windows
  community.windows.win_scoop:
    global: true
    name: beekeeper-studio
  tags:
    - install
  when: ansible_facts.system == "Win32NT"
