---
- name: Get latest Packer version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/packer.json
  register: packer_formula
  when: ansible_system == "Linux"

- name: Install Packer for FreeBSD
  become: true
  community.general.pkgng:
    name: packer
  when: ansible_system == "FreeBSD"

- name: Install Packer for Linux
  ansible.builtin.unarchive:
    dest: /usr/local/bin/
    group: root
    mode: "755"
    owner: root
    remote_src: true
    src: >-
      https://releases.hashicorp.com/packer/{{
      packer_formula.json.versions.stable }}/packer_{{
      packer_formula.json.versions.stable }}_linux_{{
      packer_arch[ansible_architecture] }}.zip
  become: true
  vars:
    packer_arch:
      aarch64: arm64
      x86_64: amd64
  when: ansible_system == "Linux"

- name: Install Packer for MacOS
  community.general.homebrew:
    name: packer
  when: ansible_system == "Darwin"

- name: Install Packer for Windows
  community.windows.win_scoop:
    name: packer
  when: ansible_system == "Win32NT"
