---
- name: Query host for PowerShell information
  ansible.builtin.raw: echo $PSVersionTable
  changed_when: false
  ignore_errors: true
  register: connect_powershell_version

- name: Set connection variables if system is Windows
  ansible.builtin.set_fact:
    ansible_shell_type: powershell
    system_pkg_mgr: scoop
  when: >-
    connect_powershell_version is success and 'PSEdition' in
    connect_powershell_version.stdout

- name: Gather facts about system
  ansible.builtin.gather_facts: {}

- name: Set become method for Alpine
  ansible.builtin.set_fact:
    ansible_become_method: doas
  # Variable system_pkg_mgr cannot be used since it is not defined until after
  # this role.
  when: >-
    ansible_facts.system == "Linux" and ansible_facts.get("pkg_mgr", "") ==
    "apk"

- name: Mark role as executed to prevent reruns
  ansible.builtin.set_fact:
    cacheable: true
    connect_role_executed: true
