---
- name: Install Lua for FreeBSD
  become: true
  community.general.pkgng:
    name: lua54
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Lua for Linux
  ansible.builtin.package:
    name: "{{ lua_package.get(ansible_facts.pkg_mgr, 'lua') }}"
  become: true
  tags:
    - install
  vars:
    lua_package:
      apk: lua5.4
      apt: lua5.3
      zypper: lua53
  when: ansible_facts.system == "Linux"

- name: Install Lua for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: lua
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Lua for Windows
  community.windows.win_scoop:
    global: true
    name: lua
  tags:
    - install
  when: ansible_facts.system == "Win32NT"
