---
- name: Install Croc for FreeBSD
  become: true
  community.general.pkgng:
    name: croc
  when: ansible_system == "FreeBSD"

- name: Install Croc for Linux
  ansible.builtin.package:
    name: croc
  become: true
  ignore_errors: true
  register: croc_linux
  when: ansible_system == "Linux"

- name: Get latest Croc version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/croc.json
  register: croc_formula
  when: ansible_system == "Linux" and croc_linux is failed

- name: Download Croc for Linux
  ansible.builtin.unarchive:
    dest: /tmp
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/schollz/croc/releases/download/v{{
      croc_formula.json.versions.stable }}/croc_{{
      croc_formula.json.versions.stable }}_Linux-{{
      croc_arch[system_architecture] }}.tar.gz
  become: true
  vars:
    croc_arch:
      amd64: 64bit
      arm64: ARM64
  when: ansible_system == "Linux" and croc_linux is failed

- name: Install Croc for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/croc
    force: true
    mode: "755"
    remote_src: true
    src: /tmp/croc
  become: true
  when: ansible_system == "Linux" and croc_linux is failed

- name: Install Croc for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: croc
  when: ansible_system == "Darwin"

- name: Install Croc for Windows
  community.windows.win_scoop:
    name: croc
  when: ansible_system == "Win32NT"

- name: Add Croc Firewall rules for Windows
  community.windows.win_firewall_rule:
    action: allow
    direction: "{{ item['direction'] }}"
    localport: any
    name: Croc
    profiles:
      - domain
      - private
      - public
    program: "{{ scoop_apps }}\\croc\\current\\croc.exe"
    protocol: "{{ item['protocol'] }}"
  loop:
    - direction: in
      protocol: tcp
    - direction: in
      protocol: udp
    - direction: out
      protocol: tcp
    - direction: out
      protocol: udp
  when: ansible_system == "Win32NT"
