# Tmux configuration file.
#
# For more information, visit
# https://github.com/tmux/tmux/wiki/Getting-Started#configuring-tmux.

# General settings.

set-option -g base-index 1                       # Make windows numbers start at 1
set-option -g default-terminal xterm-256color    # Upgrade default terminal.
set-option -g default-shell {{ lookup('ansible.builtin.vars', user_shell + '_executable' ) }}
set-option -g mouse on                           # Enable pane selection with mouse.
set-option -g pane-base-index 1                  # Make pane numbers start at 1
set-option -g renumber-windows on                # Renumber windows when one windows is closed.
set-option -g set-titles on                      # Set terminal title.
set-option -g set-titles on                      # Set window title to match current program.
set-option -g status-interval 10                 # Redraw status line every 10 seconds.
set-option -g status-position top                # Move status bar to top of window.
set-option -g visual-activity off                # Disable activity messages.
set-option -ga terminal-overrides ",*256col*:Tc" # Fix colors for Helix when inside Tmux.
set-option -gw automatic-rename on               # Rename window to reflect current program.
set-option -gw monitor-activity on               # Monitor for activity in window.
set-option -gw xterm-keys on                     # Enable xterm keybindings such as Shift+Right.

# Status bar color settings with values from
# https://ethanschoonover.com/solarized/#the-values.

set-option -g status-style bg=default
set-option -gw window-status-current-format " #W:#I "
set-option -gw window-status-current-style fg=colour254,bold,bg=colour64
set-option -gw window-status-format " #W:#I "
set-option -gw window-status-style fg=colour254,bg=colour33
set-option -g status-left ""
set-option -g status-right "#[fg=colour254,bg=colour64][#S]"

# Keybinding settings to mimic Zellij.

bind-key -n m-j select-pane -L
bind-key -n m-k select-pane -D
bind-key -n m-l select-pane -U
bind-key -n 'm-;' select-pane -R
bind-key -n m-n split-window -h -c "#{pane_current_path}"
bind-key -n m-N split-window -v -c "#{pane_current_path}"

bind-key -n c-p switch-client -T pane
bind-key -T pane -r j select-pane -L
bind-key -T pane -r k select-pane -D
bind-key -T pane -r l select-pane -U
bind-key -T pane -r ';' select-pane -R
bind-key -T pane -r n split-window -h -c "#{pane_current_path}"
bind-key -T pane x kill-pane

bind-key -n c-n switch-client -T resize
bind-key -T resize -r left resize-pane -L
bind-key -T resize -r down resize-pane -D
bind-key -T resize -r up resize-pane -U
bind-key -T resize -r right resize-pane -R

bind-key -n c-o switch-client -T session
bind-key -T session d detach-client
bind-key -T session r command-prompt -I "#W" "rename-session '%%'"
bind-key -T session w choose-window

bind-key -n c-t switch-client -T tab
bind-key -T tab -r j previous-window
bind-key -T tab -r ';' next-window
bind-key -T tab -r n new-window -c "#{pane_current_path}"
bind-key -T tab r command-prompt -I "#W" "rename-window '%%'"
bind-key -T tab x kill-window
