---
- name: Install Audacity for FreeBSD
  become: true
  community.general.pkgng:
    name: audacity
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Audacity for Linux
  ansible.builtin.package:
    name: audacity
  become: true
  ignore_errors: true
  register: audacity_linux
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Audacity for Linux
  become: true
  community.general.flatpak:
    name: org.audacityteam.Audacity
  tags:
    - install
  when: ansible_facts.system == "Linux" and audacity_linux is failed

- name: Install Audacity for MacOS
  community.general.homebrew_cask:
    accept_external_apps: true
    name: audacity
    state: present
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Audacity for Windows
  community.windows.win_scoop:
    global: true
    name: audacity
  tags:
    - install
  when: ansible_facts.system == "Win32NT"
