---
- name: Get latest Bat version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/bat.json
  register: bat_formula
  when: ansible_pkg_mgr == "apt"

- name: Install Bat for Debian
  ansible.builtin.apt:
    deb: >-
      https://github.com/sharkdp/bat/releases/download/v{{
      bat_formula.json.versions.stable }}/bat_{{
      bat_formula.json.versions.stable }}_{{ system_architecture }}.deb
  become: true
  when: ansible_pkg_mgr == "apt"

- name: Install Bat for FreeBSD
  become: true
  community.general.pkgng:
    name: bat
  when: ansible_system == "FreeBSD"

- name: Install Bat for Linux
  ansible.builtin.package:
    name: bat
  become: true
  when: ansible_system == "Linux" and ansible_pkg_mgr != "apt"

- name: Install Bat for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: bat
  when: ansible_system == "Darwin"

- name: Install Bat for Windows
  community.windows.win_scoop:
    name: bat
  when: ansible_system == "Win32NT"
