[
  { "command": "-list.find", "key": "ctrl+f" },
  { "command": "-workbench.action.quickOpen", "key": "ctrl+e" },
  { "command": "-workbench.action.terminal.focusFind", "key": "ctrl+f" },
  {
    "command": "-workbench.action.terminal.toggleFindWholeWord",
    "key": "alt+w",
  },
  { "command": "-workbench.action.terminal.toggleTerminal", "key": "ctrl+`" },
  { "command": "-workbench.action.view.problems", "key": "ctrl+shift+m" },
  {
    "command": "workbench.action.focusActiveEditorGroup",
    "key": "ctrl+`",
    "when": "terminalFocus"
  },
  { "command": "workbench.action.navigateBack", "key": "ctrl+left" },
  { "command": "workbench.action.navigateForward", "key": "ctrl+right" },
  {
    "command": "workbench.action.nextEditor",
    "key": "ctrl+shift+;",
    "when": "editorFocus"
  },
  { "command": "workbench.action.positionPanelBottom", "key": "ctrl+shift+b" },
  { "command": "workbench.action.positionPanelRight", "key": "ctrl+shift+r" },
  {
    "command": "workbench.action.previousEditor",
    "key": "ctrl+shift+j",
    "when": "editorFocus"
  },
  {
    "command": "workbench.action.terminal.focus",
    "key": "ctrl+`",
    "when": "!terminalFocus"
  },
  {
    "command": "workbench.action.terminal.focusNext",
    "key": "ctrl+shift+;",
    "when": "terminalFocus"
  },
  {
    "command": "workbench.action.terminal.focusPrevious",
    "key": "ctrl+shift+j",
    "when": "terminalFocus"
  },
  {
    "command": "workbench.action.terminal.new",
    "key": "ctrl+shift+t",
    "when": "terminalFocus"
  },
  {
    "command": "workbench.action.toggleMaximizedPanel",
    "key": "ctrl+shift+m",
    "when": "terminalFocus"
  }
]
