[
  { "command": "workbench.action.terminal.toggleTerminal", "key": "{{ vscode_ctrl_key }}+`" },
  {
    "command": "workbench.action.focusActiveEditorGroup",
    "key": "{{ vscode_ctrl_key }}+`",
    "when": "terminalFocus"
  },
  { "command": "workbench.action.showCommands", "key": "alt+shift+p" },
  { "command": "workbench.action.showCommands", "key": "{{ vscode_ctrl_key }}+shift+p" },
  {
    "command": "workbench.action.terminal.focusNext",
    "key": "{{ vscode_ctrl_key }}+shift+]",
    "when": "terminalFocus"
  },
  {
    "command": "workbench.action.terminal.focusPrevious",
    "key": "{{ vscode_ctrl_key }}+shift+[",
    "when": "terminalFocus"
  },
  {
    "command": "workbench.action.terminal.new",
    "key": "{{ vscode_ctrl_key }}+shift+t",
    "when": "terminalFocus"
  },
  { "command": "-workbench.action.quickOpen",
    "key": "ctrl+e",
  },
  { 
    "command": "-workbench.actions.view.problems",
    "key": "{{ vscode_ctrl_key }}+shift+m" }
  }
]
