{
  "debug.toolBarLocation": "docked",
  "deno.suggest.autoImports": false,
  "editor.acceptSuggestionOnEnter": "off",
  "editor.accessibilitySupport": "off",
  "editor.autoClosingBrackets": "never",
  "editor.autoClosingQuotes": "never",
  "editor.bracketPairColorization.enabled": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "editor.detectIndentation": false,
  "editor.fontFamily": "Fira Code",
  "editor.fontLigatures": true,
  "editor.fontSize": {{ font_size }},
  "editor.formatOnSave": true,
  "editor.guides.bracketPairs": "active",
  "editor.inlayHints.enabled": "offUnlessPressed",
  "editor.minimap.enabled": false,
  "editor.parameterHints.enabled": true,
  "editor.rulers": [80],
  "editor.tabSize": 4,
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[dockercompose]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[dockerfile]": {
    "editor.defaultFormatter": "ms-azuretools.vscode-docker"
  },
  "[fish]": {
    "editor.tabSize": 2
  },
  "[helm]": {
    "editor.tabSize": 2
  },
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[markdown]": {
    "editor.tabSize": 2
  },
  "[python]": {
    "editor.defaultFormatter": "ms-python.black-formatter"
  },
  "[rust]": {
    "editor.defaultFormatter": "rust-lang.rust-analyzer",
    "editor.rulers": [100]
  },
  "[scss]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[shellscript]": {
    "editor.tabSize": 2
  },
  "[svelte]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[terraform]": {
    "editor.defaultFormatter": "hashicorp.terraform",
    "editor.tabSize": 2
  },
  "[typescript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[typescriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[vue]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[xml]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "[yaml]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.tabSize": 2
  },
  "emmet.excludeLanguages": [],
  "emmet.includeLanguages": {
    "markdown": "html"
  },
  "emmet.triggerExpansionOnTab": true,
  "explorer.autoReveal": false,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "explorer.openEditors.visible": 1,
  "extensions.ignoreRecommendations": true,
  "files.associations": {
    "*.bats": "shellscript",
    "*.yaml.gotmpl": "yaml",
    "rust-toolchain": "toml"
  },
  "files.defaultLanguage": "markdown",
  "files.exclude": {
    "**/.DS_Store": true,
    "**/.git": true,
    "**/.hg": true,
    "**/.svn": true,
    "**/*.olean": true,
    "**/CVS": true
  },
  "files.insertFinalNewline": true,
  "files.watcherExclude": {
    "**/__pycache__/**": true,
    "**/_target/**": true,
    "**/.benchmarks/**": true,
    "**/.dvc/**": true,
    "**/.git/objects/**": true,
    "**/.git/subtree-cache/**": true,
    "**/.hypothesis/**": true,
    "**/.mypy_cache/**": true,
    "**/.pytest_cache/**": true,
    "**/.tox/**": true,
    "**/.venv/**": true,
    "**/build/**": true,
    "**/node_modules/**": true,
    "**/target/**": true,
    "**/venv/**": true
  },
  "git.enableStatusBarSync": false,
  "git.openRepositoryInParentFolders": "never",
  "javascript.suggest.autoImports": false,
  "javascript.updateImportsOnFileMove.enabled": "never",
  "latex-workshop.bind.enter.key": false,
  "latex-workshop.latex.autoBuild.run": "onFileChange",
  "latex-workshop.view.pdf.viewer": "tab",
  "liveServer.settings.donotShowInfoMsg": true,
  "lldb.suppressUpdateNotifications": true,
  "notebook.lineNumbers": "on",
  "prettier.resolveGlobalModules": true,
  "python.analysis.autoImportCompletions": false,
  "python.languageServer": "Pylance",
  "python.terminal.activateEnvironment": false,
  "python.testing.promptToConfigure": false,
  "python.testing.pytestEnabled": true,
  "python.venvPath": "${workspaceFolder}/.venv",
  "redhat.telemetry.enabled": false,
{% if vscode_remote_extensions | length > 0 %}
  "remote.SSH.defaultExtensions": [
{% for extension in vscode_remote_extensions[:-1] %}
    "{{ extension }}",
{% endfor %}
    "{{ vscode_remote_extensions[-1] }}"
  ],
{% endif %}
  "remote.SSH.useLocalServer": false,
  "rust-analyzer.notifications.cargoTomlNotFound": false,
  "rust-analyzer.showUnlinkedFileNotification": false,
  "security.workspace.trust.enabled": false,
  "shellformat.flag": "--case-indent --space-redirects --indent 2",
  "svelte.enable-ts-plugin": true,
  "telemetry.telemetryLevel": "off",
  "terminal.integrated.cursorStyle": "line",
  "terminal.integrated.fontFamily": "Fira Code",
  "terminal.integrated.fontSize": {{ font_size }},
  "terminal.integrated.inheritEnv": true,
  "terminal.integrated.profiles.windows": {
    "PowerShell": {
      "source": "PowerShell",
      "args": ["-NoLogo"]
    }
  },
  "terminal.integrated.shellIntegration.decorationsEnabled": "never",
  "terminal.integrated.showExitAlert": false,
  "terminal.integrated.enableMultiLinePasteWarning": false,
  "typescript.suggest.autoImports": false,
  "typescript.updateImportsOnFileMove.enabled": "never",
  "update.mode": "none",
  "vite.autoStart": false,
  "vs-kubernetes": {
    "vs-kubernetes.crd-code-completion": "enabled"
  },
  "vsicons.dontShowNewVersionMessage": true,
  "workbench.colorTheme": "Solarized Light",
  "workbench.editorAssociations": {
    "*.ipynb": "jupyter-notebook"
  },
  "workbench.iconTheme": "vscode-icons",
  "workbench.startupEditor": "welcomePage",
  "workbench.statusBar.visible": true,
  "yaml.schemas": {
    "https://json.schemastore.org/github-workflow.json": ".github/workflows/build.yaml"
  }
}
