---
- name: Install SQLite for FreeBSD
  become: true
  community.general.pkgng:
    name: sqlite3
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install SQLite for Linux
  ansible.builtin.package:
    name: "{{ sqlite_package.get(system_pkg_mgr, 'sqlite') }}"
  become: true
  tags:
    - install
  vars:
    sqlite_package:
      apt: sqlite3
      opkg: sqlite3-cli
  when: ansible_facts.system == "Linux"

- name: Install SQLite for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: sqlite
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install SQLite for Windows
  community.windows.win_scoop:
    global: true
    name: sqlite
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Copy SQLite settings file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.sqliterc"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: sqliterc
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy SQLite settings file for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.sqliterc"
    force: true
    src: sqliterc
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of SQLite file for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\.sqliterc"
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
