---
- name: Get latest Terragrunt version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/terragrunt.json
  register: terragrunt_formula
  when: ansible_system == "Linux"

- name: Install Terragrunt for FreeBSD
  become: true
  community.general.pkgng:
    name: terragrunt
  when: ansible_system == "FreeBSD"

- name: Install Terragrunt for Linux
  ansible.builtin.get_url:
    dest: /usr/local/bin/terragrunt
    mode: "755"
    url: >-
      https://github.com/gruntwork-io/terragrunt/releases/download/v{{
      terragrunt_formula.json.versions.stable }}/terragrunt_linux_{{
      system_architecture }}
  become: true
  when: ansible_system == "Linux"

- name: Install Terragrunt for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: terragrunt
  when: ansible_system == "Darwin"

- name: Install Terragrunt for Windows
  community.windows.win_scoop:
    name: terragrunt
  when: ansible_system == "Win32NT"
