---
- name: Install Bash for FreeBSD
  become: true
  community.general.pkgng:
    name:
      - bash
      - bash-completion
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Bash for Linux
  ansible.builtin.package:
    name:
      - bash
      - bash-completion
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux" and system_pkg_mgr != "opkg"

- name: Install Bash for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name:
      - bash
      - bash-completion@2
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Bash for OpenWrt
  ansible.builtin.package:
    name: bash
  become: true
  tags:
    - install
  when: system_pkg_mgr == "opkg"

- name: Register Bash as a valid login shell for Unix
  ansible.builtin.lineinfile:
    create: true
    line: "{{ bash_executable }}"
    mode: "644"
    path: /etc/shells
  become: true
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Copy Bash settings files for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.{{ item }}"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: "{{ item }}"
  become: true
  loop:
    - bashrc
    - bash_profile
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Install Shadow for Alpine
  become: true
  community.general.apk:
    name: shadow
  tags:
    - config
  when: system_pkg_mgr == "apk" and user_login == "bash"

- name: Install Shadow for OpenWrt
  become: true
  community.general.opkg:
    name: shadow-usermod
  tags:
    - config
  when: system_pkg_mgr == "opkg" and user_login == "bash"

# User shell is not updated on Alpine Linux when using Ansible user module.
# Workaround comes from https://github.com/ansible/ansible/issues/61911.
- name: Change user default shell to Bash for Alpine
  ansible.builtin.command:
    cmd: chsh -s {{ bash_executable }} {{ user_id }}
  become: true
  changed_when: true
  tags:
    - config
  when: system_pkg_mgr == "apk" and user_login == "bash"

- name: Change user default shell to Bash for Unix
  ansible.builtin.user:
    name: "{{ user_id }}"
    shell: "{{ bash_executable }}"
  become: true
  tags:
    - config
  when: >-
    ansible_facts.system != "Win32NT" and system_pkg_mgr != "apk" and user_login
    == "bash"

- name: Mark role as executed to prevent reruns
  ansible.builtin.set_fact:
    cacheable: true
    bash_role_executed: true
