---
- name: Install K9s for FreeBSD
  become: true
  community.general.pkgng:
    name: k9s
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install K9s for Linux
  ansible.builtin.package:
    name: k9s
  become: true
  ignore_errors: true
  register: k9s_linux
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Get latest K9s version for Linux
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/k9s.json
  register: k9s_formula
  tags:
    - install
  when: ansible_facts.system == "Linux" and k9s_linux is failed

- name: Create K9s temporary directory for Linux
  ansible.builtin.tempfile:
    state: directory
  register: k9s_temp
  tags:
    - install
  when: ansible_facts.system == "Linux" and k9s_linux is failed

- name: Set K9s temporary directory permissions for Linux
  ansible.builtin.file:
    mode: "755"
    path: "{{ k9s_temp.path }}"
    state: directory
  tags:
    - install
  when: ansible_facts.system == "Linux" and k9s_linux is failed

- name: Download K9s for Linux
  ansible.builtin.unarchive:
    dest: "{{ k9s_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/derailed/k9s/releases/download/v{{
      k9s_formula.json.versions.stable }}/k9s_Linux_{{ system_architecture
      }}.tar.gz
  tags:
    - install
  when: ansible_facts.system == "Linux" and k9s_linux is failed

- name: Install K9s for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/k9s
    force: true
    mode: "755"
    remote_src: true
    src: "{{ k9s_temp.path }}/k9s"
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux" and k9s_linux is failed

- name: Install K9s for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: k9s
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install K9s for Windows
  community.windows.win_scoop:
    global: true
    name: k9s
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Create K9s configuration directory for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ k9s_config }}/skins"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Create K9s configuration directory for Windows
  ansible.windows.win_file:
    path: "{{ k9s_config }}\\skins"
    state: directory
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy K9s settings files for Unix
  ansible.builtin.copy:
    dest: "{{ k9s_config }}/{{ item.dest }}"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: "{{ item.source }}"
  become: true
  loop:
    - dest: config.yaml
      source: config.yaml
    - dest: skins/solarized_light.yaml
      source: skin.yaml
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy K9s settings files for Windows
  ansible.windows.win_copy:
    dest: "{{ k9s_config }}\\{{ item.dest }}"
    force: true
    src: "{{ item.source }}"
  loop:
    - dest: config.yaml
      source: config.yaml
    - dest: skins\solarized_light.yaml
      source: skin.yaml
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of K9s files for Windows
  ansible.windows.win_owner:
    path: "{{ k9s_config }}"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Remove K9s temporary directory for Linux
  ansible.builtin.file:
    path: "{{ k9s_temp.path }}"
    state: absent
  tags:
    - install
  when: ansible_facts.system == "Linux" and k9s_linux is failed
