---
- name: Install AWSCLI for FreeBSD
  become: true
  community.general.pkgng:
    name: py39-awscli
  when: ansible_system == "FreeBSD"

- name: Install AWSCLI for Alpine
  become: true
  community.general.apk:
    name: aws-cli
  when: ansible_pkg_mgr == "apk"

- name: Download AWSCLI for Linux
  ansible.builtin.unarchive:
    creates: /usr/local/bin/aws
    dest: /tmp/
    mode: "777"
    remote_src: true
    src: >-
      https://awscli.amazonaws.com/awscli-exe-linux-{{
      aws_arch[system_architecture] }}.zip
  become: true
  vars:
    aws_arch:
      amd64: x86_64
      arm64: aarch64
  when: ansible_system == "Linux" and ansible_pkg_mgr != "apk"

- name: Install AWSCLI for Linux
  ansible.builtin.command:
    creates: /usr/local/bin/aws
    cmd: /tmp/aws/install
  become: true
  when: ansible_system == "Linux" and ansible_pkg_mgr != "apk"

- name: Install AWSCLI for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: awscli
  when: ansible_system == "Darwin"

- name: Install AWSCLI for Windows
  community.windows.win_scoop:
    name: aws
  when: ansible_system == "Win32NT"
