// GitUI keybindings file.
//
// For more information, visit
// https://github.com/extrawurst/gitui/blob/master/KEY_CONFIG.md.

(
    move_down: Some(( code: Char('k'), modifiers: "")),
    move_left: Some(( code: Char('j'), modifiers: "")),
    move_right: Some(( code: Char(';'), modifiers: "")),
    move_up: Some(( code: Char('l'), modifiers: "")),
)
