---
- name: Install DBeaver for Linux
  become: true
  community.general.flatpak:
    name: io.dbeaver.DBeaverCommunity
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install DBeaver for MacOS
  community.general.homebrew_cask:
    accept_external_apps: true
    name: dbeaver-community
    state: present
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install DBeaver for Windows
  community.windows.win_scoop:
    global: true
    name: dbeaver
  tags:
    - install
  when: ansible_facts.system == "Win32NT"
