---
_go_root:
  Darwin: >-
    {{ '/opt/homebrew/opt/go/libexec' if system_architecture == 'arm64' else
    '/usr/local/opt/go/libexec' }}
  FreeBSD: ""
  Linux: /usr/local/go
  Win32NT: ""
go_path: "{{ user_home }}/.go"
go_root: "{{ _go_root.get(ansible_system, '/usr/local/go') }}"
go_applications:
  - github.com/go-delve/delve/cmd/dlv@latest
  - github.com/ramya-rao-a/go-outline@latest
  - golang.org/x/tools/gopls@latest
  - honnef.co/go/tools/cmd/staticcheck@latest
