---
- name: Install Forge extension for GNOME desktops
  ansible.builtin.import_tasks: forge.yaml
  tags:
    - install
  when: ansible_facts.system in ["FreeBSD", "Linux"] and gnome_desktop

- name: Install Amethyst for MacOS
  community.general.homebrew_cask:
    accept_external_apps: true
    name: amethyst
    state: present
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install GlazeWM for Windows
  community.windows.win_scoop:
    global: true
    name:
      - glazewm
      - zebar
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

# Do not use GlazeWM Scoop shims for startup application registration. They will
# create a brief command prompt flash on system start.
- name: Add GlazeWM to startup applications for Windows
  community.windows.win_shortcut:
    dest: >-
      {{ user_home }}\\AppData\\Roaming\\Microsoft\\Windows\\Start
      Menu\\Programs\\Startup\\GlazeWM.lnk
    icon: "{{ scoop_path }}\\apps\\glazewm\\current\\GlazeWM.exe,0"
    src: "{{ scoop_path }}\\apps\\glazewm\\current\\GlazeWM.exe"
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Create Amethyst configuration directory for MacOS
  ansible.builtin.file:
    dest: "{{ user_home }}/.config/amethyst"
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system == "Darwin"

- name: Copy Amethyst configuration file for MacOS
  ansible.builtin.copy:
    dest: "{{ user_home }}/.config/amethyst/amethyst.yml"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: amethyst.yaml
  become: true
  tags:
    - config
  when: ansible_facts.system == "Darwin"

- name: Create GlazeWM configuration directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\.glzr\\glazewm"
    state: directory
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy GlazeWM configuration file for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.glzr\\glazewm\\config.yaml"
    force: true
    src: glaze.yaml
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of GlazeWM files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\.glzr"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
