---
- name: Install GDU for Alpine
  become: true
  community.general.apk:
    name: gdu
    repository: http://dl-cdn.alpinelinux.org/alpine/edge/community
    state: latest
    update_cache: true
  tags:
    - install
  when: system_pkg_mgr == "apk"

- name: Install GDU for FreeBSD
  become: true
  community.general.pkgng:
    name: gdu
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install GDU for Linux
  ansible.builtin.package:
    name: gdu
  become: true
  ignore_errors: true
  register: gdu_linux
  tags:
    - install
  when: ansible_facts.system == "Linux" and system_pkg_mgr != "apk"

- name: Get latest GDU version for Linux
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/gdu.json
  register: gdu_formula
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and system_pkg_mgr != "apk" and gdu_linux is
    failed

- name: Create GDU temporary directory for Linux
  ansible.builtin.tempfile:
    state: directory
  register: gdu_temp
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and system_pkg_mgr != "apk" and gdu_linux is
    failed

- name: Download GDU for Linux
  ansible.builtin.unarchive:
    dest: "{{ gdu_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/dundee/gdu/releases/download/v{{
      gdu_formula.json.versions.stable }}/gdu_linux_{{ system_architecture
      }}.tgz
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and system_pkg_mgr != "apk" and gdu_linux is
    failed

- name: Install GDU for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/gdu
    force: true
    mode: "755"
    remote_src: true
    src: "{{ gdu_temp.path }}/gdu_linux_{{ system_architecture }}"
  become: true
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and system_pkg_mgr != "apk" and gdu_linux is
    failed

- name: Install GDU for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: gdu
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install GDU for Windows
  community.windows.win_scoop:
    global: true
    name: gdu
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Remove GDU temporary directory for Linux
  ansible.builtin.file:
    path: "{{ gdu_temp.path }}"
    state: absent
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and system_pkg_mgr != "apk" and gdu_linux is
    failed
