---
- name: Get latest Mongo Shell version for Linux
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/mongosh.json
  register: mongosh_formula_linux
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Create Mongo Shell temporary directory for Linux
  ansible.builtin.tempfile:
    state: directory
  register: mongosh_temp
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and ansible_facts.pkg_mgr not in ["apk",
    "dnf", "dnf5"]

- name: Download Mongo Shell for Linux
  ansible.builtin.unarchive:
    dest: "{{ mongosh_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://downloads.mongodb.com/compass/mongosh-{{
      mongosh_formula_linux.json.versions.stable }}-linux-{{ mongosh_arch }}.tgz
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and ansible_facts.pkg_mgr not in ["apk",
    "dnf", "dnf5"]

- name: Install Mongo Shell for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/mongosh
    force: true
    mode: "755"
    remote_src: true
    src: >-
      {{ mongosh_temp.path }}/mongosh-{{
      mongosh_formula_linux.json.versions.stable }}-linux-{{ mongosh_arch
      }}/bin/mongosh
  become: true
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and ansible_facts.pkg_mgr not in ["apk",
    "dnf", "dnf5"]

- name: Install Mongo Shell for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: mongosh
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Get latest Mongo Shell version for Windows
  ansible.windows.win_uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/mongosh.json
  register: mongosh_formula_windows
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Install Mongo Shell for Windows
  ansible.windows.win_package:
    path: >-
      https://downloads.mongodb.com/compass/mongosh-{{
      mongosh_formula_windows.json.versions.stable }}-x64.msi
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Remove Mongo Shell temporary directory for Linux
  ansible.builtin.file:
    path: "{{ mongosh_temp.path }}"
    state: absent
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and ansible_facts.pkg_mgr not in ["apk",
    "dnf", "dnf5"]
