# MuseScore configuration file.
#
# For more information, visit
# https://musescore.org/en/handbook/4/revert-factory-settings.

[application]
checkForUpdate=false
hasCompletedFirstLaunchSetup=true
paths\myPlugins={{ user_home }}/Music/MuseScore/Plugins
paths\myScores={{ user_home }}/Music/MuseScore/Scores
paths\mySoundfonts={{ user_home }}/Music/MuseScore/SoundFonts
paths\myStyles={{ user_home }}/Music/MuseScore/Styles
paths\myTemplates={{ user_home }}/Music/MuseScore/Templates
startup\modeStart=1

[project]
alsoShareAudioCom=false
autoSaveEnabled=false
