---
- name: Install Terraform for FreeBSD
  become: true
  community.general.pkgng:
    name: terraform
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Terraform for Linux
  ansible.builtin.package:
    name: terraform
  become: true
  ignore_errors: true
  register: terraform_linux
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Get latest Terraform version for Unix
  ansible.builtin.uri:
    headers: "{{ github_api_headers }}"
    method: GET
    return_content: true
    url: https://api.github.com/repos/hashicorp/terraform/releases/latest
  register: terraform_release
  tags:
    - install
  when: >-
    ansible_facts.system == "Darwin" or (ansible_facts.system == "Linux" and
    terraform_linux is failed)

- name: Create Terraform temporary directory for Unix
  ansible.builtin.tempfile:
    state: directory
  register: terraform_temp
  tags:
    - install
  when: >-
    ansible_facts.system == "Darwin" or (ansible_facts.system == "Linux" and
    terraform_linux is failed)

- name: Download Terraform for Unix
  ansible.builtin.unarchive:
    dest: "{{ terraform_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://releases.hashicorp.com/terraform/{{
      terraform_release.json.tag_name[1:] }}/terraform_{{
      terraform_release.json.tag_name[1:] }}_{{ ansible_facts.system | lower
      }}_{{ system_architecture }}.zip
  tags:
    - install
  when: >-
    ansible_facts.system == "Darwin" or (ansible_facts.system == "Linux" and
    terraform_linux is failed)

- name: Install Terraform for Unix
  ansible.builtin.copy:
    dest: /usr/local/bin/terraform
    force: true
    mode: "755"
    remote_src: true
    src: "{{ terraform_temp.path }}/terraform"
  become: true
  tags:
    - install
  when: >-
    ansible_facts.system == "Darwin" or (ansible_facts.system == "Linux" and
    terraform_linux is failed)

- name: Install Terraform for Windows
  community.windows.win_scoop:
    global: true
    name: terraform
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Remove Terraform temporary directory for Unix
  ansible.builtin.file:
    path: "{{ terraform_temp.path }}"
    state: absent
  tags:
    - install
  when: >-
    ansible_facts.system == "Darwin" or (ansible_facts.system == "Linux" and
    terraform_linux is failed)
