---
- name: Get latest Watchexec version for Unix
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/watchexec.json
  register: watchexec_formula
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Create Watchexec temporary directory for Unix
  ansible.builtin.tempfile:
    state: directory
  register: watchexec_temp
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Set Watchexec temporary directory permissions for Unix
  ansible.builtin.file:
    mode: "755"
    path: "{{ watchexec_temp.path }}"
    state: directory
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Download Watchexec for Unix
  ansible.builtin.unarchive:
    dest: "{{ watchexec_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/watchexec/watchexec/releases/download/v{{
      watchexec_formula.json.versions.stable }}/watchexec-{{
      watchexec_formula.json.versions.stable }}-{{ watchexec_arch }}-{{
      watchexec_env }}.tar.xz
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Install Watchexec for Linux
  ansible.builtin.package:
    name: watchexec
  become: true
  ignore_errors: true
  register: watchexec_linux
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Watchexec for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/watchexec
    force: true
    mode: "755"
    remote_src: true
    src: >-
      {{ watchexec_temp.path }}/watchexec-{{
      watchexec_formula.json.versions.stable }}-{{ watchexec_arch }}-{{
      watchexec_env }}/watchexec
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux" and watchexec_linux is failed

- name: Install Watchexec for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: watchexec
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Watchexec for Windows
  community.windows.win_scoop:
    global: true
    name: watchexec
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Install Watchexec shell completions for Unix
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    force: true
    mode: "644"
    remote_src: true
    src: >-
      {{ watchexec_temp.path }}/watchexec-{{
      watchexec_formula.json.versions.stable }}-{{ watchexec_arch }}-{{
      watchexec_env }}/completions/{{ item.shell }}
  become: true
  loop:
    - dest: "{{ bash_completion }}/watchexec"
      shell: bash
    - dest: "{{ fish_completion }}/watchexec.fish"
      shell: fish
  tags:
    - completion
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]

- name: Remove Watchexec temporary directory for Unix
  ansible.builtin.file:
    path: "{{ watchexec_temp.path }}"
    state: absent
  tags:
    - install
  when: ansible_facts.system in ["Darwin", "Linux"]
