---
- name: Install HDF5 tools for FreeBSD
  become: true
  community.general.pkgng:
    name: h5utils
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

# Alpine HDF5 package does not contain command line tools. It only contains
# shared object libraries.
- name: Install HDF5 tools for Linux
  ansible.builtin.package:
    name: "{{ 'hdf5-tools' if system_pkg_mgr == 'apt' else 'hdf5' }}"
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux" and system_pkg_mgr != "apk"

- name: Install H5Dump for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: hdf5
  tags:
    - install
  when: ansible_facts.system == "Darwin"
