---
- name: Copy Readline configuration file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.{{ item }}"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: "{{ item }}"
  become: true
  loop:
    - editrc
    - inputrc
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Readline configuration files for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.{{ item }}"
    force: true
    src: "{{ item }}"
  loop:
    - editrc
    - inputrc
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of Readline files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\{{ item }}"
    user: "{{ user_id }}"
  loop:
    - .editrc
    - .inputrc
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
