---
- name: Install Android platform tools for FreeBSD
  become: true
  community.general.pkgng:
    name: android-tools
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Android platform tools for MacOS
  community.general.homebrew_cask:
    accept_external_apps: true
    name: android-platform-tools
    state: present
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Android platform tools for Linux
  ansible.builtin.package:
    name: >-
      {{ 'android-sdk' if system_pkg_mgr == 'apt' else 'android-tools' }}
  become: true
  tags:
    - install
  when: >-
    ansible_facts.system == "Linux" and system_pkg_mgr not in ["opkg", "zypper"]

# TODO: FIgure out how to configure android-clt for Windows so adb does not need
# to be separately installed.
- name: Install Android platform tools for Windows
  community.windows.win_scoop:
    global: true
    name:
      - adb
      - android-clt
  tags:
    - install
  when: ansible_facts.system == "Win32NT"
