---
- name: Get latest Cargo Binstall version for Windows
  ansible.windows.win_uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/cargo-binstall.json
  register: rust_binstall_formula
  tags:
    - install

- name: Install Rust for Windows
  community.windows.win_scoop:
    global: false
    name: rustup-msvc
  tags:
    - install

- name: Set Rust default toolchain
  ansible.windows.win_command:
    cmd: rustup default {{ rust_toolchain }}
  changed_when: "'installing' in rust_toolchain_set.stdout"
  environment:
    CARGO_HOME: "{{ scoop_user_path }}\\apps\\rustup-msvc\\current\\.cargo"
    Path: >-
      {{ scoop_user_path }}\apps\rustup-msvc\current\.cargo\bin;{{
      ansible_facts.env.Path }}
  register: rust_toolchain_set
  tags:
    - install

- name: Add Rust components for Windows
  ansible.windows.win_command:
    cmd: rustup component add {{ item }}
  changed_when: "'installing' in rust_component_add.stdout"
  environment:
    CARGO_HOME: "{{ scoop_user_path }}\\apps\\rustup-msvc\\current\\.cargo"
    Path: >-
      {{ scoop_user_path }}\apps\rustup-msvc\current\.cargo\bin;{{
      ansible_facts.env.Path }}
  loop: "{{ rust_components }}"
  register: rust_component_add
  tags:
    - install

- name: Add Rust targets for Windows
  ansible.windows.win_command:
    cmd: rustup target add {{ item }}
  changed_when: "'installing' in rust_target_add.stdout"
  environment:
    CARGO_HOME: "{{ scoop_user_path }}\\apps\\rustup-msvc\\current\\.cargo"
    Path: >-
      {{ scoop_user_path }}\apps\rustup-msvc\current\.cargo\bin;{{
      ansible_facts.env.Path }}
  loop: "{{ rust_targets }}"
  register: rust_target_add
  tags:
    - install

- name: Create Rust temporary directory for Windows
  ansible.windows.win_file:
    path: "{{ ansible_facts.env.TEMP }}\\rust"
    state: directory
  tags:
    - install

- name: Download Cargo Binstall archive for Windows
  ansible.windows.win_get_url:
    dest: "{{ ansible_facts.env.TEMP }}\\rust\\cargo_binstall.zip"
    url: >-
      https://github.com/ryankurte/cargo-binstall/releases/download/v{{
      rust_binstall_formula.json.versions.stable
      }}/cargo-binstall-x86_64-pc-windows-msvc.zip
  tags:
    - plugin

- name: Decompress Cargo Binstall archive for Windows
  community.windows.win_unzip:
    dest: "{{ ansible_facts.env.TEMP }}\\rust\\cargo_binstall"
    src: "{{ ansible_facts.env.TEMP }}\\rust\\cargo_binstall.zip"
  tags:
    - plugin

- name: Create Cargo Binstall directory for Windows
  ansible.windows.win_file:
    path: "{{ scoop_user_path }}\\apps\\rustup-msvc\\current\\.cargo\\bin"
    state: directory
  tags:
    - plugin

- name: Install Cargo Binstall for Windows
  ansible.windows.win_copy:
    dest: >-
      {{ scoop_user_path
      }}\apps\rustup-msvc\current\.cargo\bin\cargo-binstall.exe
    force: true
    remote_src: true
    src: >-
      {{ ansible_facts.env.TEMP }}\\rust\\cargo_binstall\\cargo-binstall.exe
  tags:
    - plugin

- name: Install Cargo packages for Windows
  ansible.windows.win_command:
    cmd: cargo binstall --no-confirm {{ item }}
  changed_when: "'This will install' in rust_binstall_package.stdout"
  environment:
    CARGO_HOME: "{{ scoop_user_path }}\\apps\\rustup-msvc\\current\\.cargo"
    Path: >-
      {{ scoop_user_path }}\apps\rustup-msvc\current\.cargo\bin;{{
      ansible_facts.env.Path }}
  loop: "{{ rust_applications }}"
  register: rust_binstall_package
  tags:
    - plugin

- name: Create Rust files for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\.rustup"
    state: directory
  tags:
    - install

- name: Set owner of Rust files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\.rustup"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - install

- name: Remove Rust temporary directory for Windows
  ansible.windows.win_file:
    path: "{{ ansible_facts.env.TEMP }}\\rust"
    state: absent
  tags:
    - install
