---
- name: Create Doctl temporary directory for Unix
  ansible.builtin.tempfile:
    state: directory
  register: doctl_temp
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Set Doctl temporary directory permissions for Unix
  ansible.builtin.file:
    mode: "755"
    path: "{{ doctl_temp.path }}"
    state: directory
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Install Digital Ocean CLI for FreeBSD
  become: true
  community.general.pkgng:
    name: doctl
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Digital Ocean CLI for Linux
  ansible.builtin.package:
    name: doctl
  become: true
  ignore_errors: true
  register: doctl_linux
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Get latest Digital Ocean CLI version for Linux
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/doctl.json
  register: doctl_formula
  tags:
    - install
  when: ansible_facts.system == "Linux" and doctl_linux is failed

- name: Download Digital Ocean CLI for Linux
  ansible.builtin.unarchive:
    dest: "{{ doctl_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/digitalocean/doctl/releases/download/v{{
      doctl_formula.json.versions.stable }}/doctl-{{
      doctl_formula.json.versions.stable }}-linux-{{ system_architecture
      }}.tar.gz
  tags:
    - install
  when: ansible_facts.system == "Linux" and doctl_linux is failed

- name: Install Digital Ocean CLI for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/doctl
    force: true
    mode: "755"
    remote_src: true
    src: "{{ doctl_temp.path }}/doctl"
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux" and doctl_linux is failed

- name: Install Digital Ocean CLI for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: doctl
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Digital Ocean CLI for Windows
  community.windows.win_scoop:
    global: true
    name: doctl
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Create Digital Ocean CLI shell completions for Unix
  ansible.builtin.shell:
    cmd: doctl completion {{ item }} > {{ doctl_temp.path }}/doctl.{{ item }}
  become: true
  changed_when: true
  environment:
    PATH: /opt/homebrew/bin:/usr/local/bin:{{ ansible_facts.env.PATH }}
  loop:
    - bash
    - fish
  tags:
    - completion
    - install
  when: ansible_facts.system != "Win32NT"

- name: Install Digital Ocean CLI shell completions for Unix
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    force: true
    mode: "644"
    remote_src: true
    src: "{{ doctl_temp.path }}/doctl.{{ item.shell }}"
  become: true
  loop:
    - dest: "{{ bash_completion }}/doctl"
      shell: bash
    - dest: "{{ fish_completion }}/doctl.fish"
      shell: fish
  tags:
    - completion
    - install
  when: ansible_facts.system != "Win32NT"

- name: Remove Doctl temporary directory for Unix
  ansible.builtin.file:
    path: "{{ doctl_temp.path }}"
    state: absent
  tags:
    - install
  when: ansible_facts.system != "Win32NT"
