[defaults]
host_key_checking = False
interpreter_python = /usr/bin/python3
private_key_file = /root/.ssh/euclid

[ssh_connection]
# Required on MacOS to allowed privileged users to execute tasks.
pipelining = True
