---
- name: Get latest Lsd version for Unix
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/lsd.json
  register: lsd_formula
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Install Lsd for FreeBSD
  become: true
  community.general.pkgng:
    name: lsd
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Create Lsd temporary directory for Unix
  ansible.builtin.tempfile:
    state: directory
  register: lsd_temp
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Download Lsd for Unix
  ansible.builtin.unarchive:
    dest: "{{ lsd_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/lsd-rs/lsd/releases/download/v{{
      lsd_formula.json.versions.stable }}/lsd-v{{
      lsd_formula.json.versions.stable }}-{{ lsd_arch }}-unknown-linux-{{
      lsd_libc }}.tar.gz
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Install Lsd for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/lsd
    force: true
    mode: "755"
    remote_src: true
    src: >-
      {{ lsd_temp.path }}/lsd-v{{ lsd_formula.json.versions.stable }}-{{
      lsd_arch }}-unknown-linux-{{ lsd_libc }}/lsd
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Lsd for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: lsd
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Lsd for Windows
  community.windows.win_scoop:
    global: true
    name: lsd
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Install Lsd shell completions for Unix
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    force: true
    mode: "644"
    remote_src: true
    src: >-
      {{ lsd_temp.path }}/lsd-v{{ lsd_formula.json.versions.stable }}-{{
      lsd_arch }}-unknown-linux-{{ lsd_libc }}/autocomplete/lsd.{{
      item.extension }}
  become: true
  loop:
    - dest: "{{ bash_completion }}/lsd"
      extension: bash-completion
    - dest: "{{ fish_completion }}/lsd.fish"
      extension: fish
  tags:
    - completion
    - install
  when: ansible_facts.system != "Win32NT"

- name: Copy Ls colors file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.ls_colors"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: ls_colors
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Ls colors file for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.ls_colors"
    force: true
    src: ls_colors
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Create Lsd configuration directory for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/lsd"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Lsd configuration files for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.config/lsd/{{ item }}"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: "{{ item }}"
  become: true
  loop:
    - colors.yaml
    - config.yaml
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Create Lsd configuration directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\AppData\\Roaming\\lsd"
    state: directory
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy Lsd configuration files for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\AppData\\Roaming\\lsd\\{{ item }}"
    force: true
    src: "{{ item }}"
  loop:
    - colors.yaml
    - config.yaml
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of Lsd files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\{{ item }}"
    recurse: true
    user: "{{ user_id }}"
  loop:
    - .ls_colors
    - AppData\\Roaming\\lsd
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Remove Lsd temporary directory for Unix
  ansible.builtin.file:
    path: "{{ lsd_temp.path }}"
    state: absent
  tags:
    - install
  when: ansible_facts.system != "Win32NT"
