---
- name: Get latest Mdbook version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/mdbook.json
  register: mdbook_formula
  when: ansible_system == "Linux"

- name: Install Mdbook for Alpine
  become: true
  community.general.apk:
    name: mdbook
    repository: http://dl-cdn.alpinelinux.org/alpine/edge/community
    state: latest
    update_cache: true
  when: ansible_pkg_mgr == "apk"

- name: Install Mdbook for FreeBSD
  become: true
  community.general.pkgng:
    name: mdbook
  when: ansible_system == "FreeBSD"

- name: Install Mdbook for Linux
  ansible.builtin.unarchive:
    dest: /usr/local/bin/
    group: root
    mode: "755"
    owner: root
    remote_src: true
    src: >-
      https://github.com/rust-lang/mdBook/releases/download/v{{
      mdbook_formula.json.versions.stable }}/mdbook-v{{
      mdbook_formula.json.versions.stable }}-x86_64-unknown-linux-gnu.tar.gz
  become: true
  when: >-
    ansible_system == "Linux" and ansible_pkg_mgr != "apk" and
    system_architecture == "amd64"

- name: Install Mdbook for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: mdbook
  when: ansible_system == "Darwin" and system_architecture == "amd64"

- name: Install Mdbook for Windows
  community.windows.win_scoop:
    name: mdbook
  when: ansible_system == "Win32NT"
