# Topgrade configuration file for updating system packages.
#
# For more information, visit
# https://github.com/topgrade-rs/topgrade/blob/main/config.example.toml.

[brew]
greedy_cask = true

[misc]
assume_yes = true
{% if ansible_facts.system in "Darwin" %}
disable = [
  "certbot",
  "containers",
  "gem",
  "git_repos",
  "helix",
  "helm",
  "ruby_gems",
  "skills",
  "system",
  "uv",
]
{% elif ansible_facts.system == "Win32NT" %}
disable = [
  "certbot",
  "containers",
  "gem",
  "git_repos",
  "helix",
  "helm",
  "microsoft_office",
  "microsoft_store",
  "ruby_gems",
  "skills",
  "system",
  "winget",
  "uv",
]
{% else %}
disable = [
  "certbot",
  "containers",
  "gem",
  "git_repos",
  "helix",
  "helm",
  "ruby_gems",
  "skills",
  "uv",
]
{% endif %}
no_retry = true
no_self_update = true
notify_each_step = false
skip_notify = true
{% if ansible_facts.system in "Darwin" -%}

[post_commands]
"Unquarantine Casks" = "sudo xattr -cr /Applications"
{% endif -%}
