---
- name: Install Prettier for Unix
  ansible.builtin.copy:
    content: |
      #!/usr/bin/env sh
      set -eu
      deno run --allow-all --no-config --quiet --node-modules-dir=none npm:prettier "$@"
    dest: /usr/local/bin/prettier
    force: true
    mode: "755"
  become: true
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Install Prettier for Windows
  ansible.windows.win_copy:
    content: |
      @echo off
      deno run --allow-all --no-config --quiet --node-modules-dir=none npm:prettier %*
    dest: "C:\\Program Files\\Bin\\prettier.cmd"
    force: true
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Copy Prettier settings file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.prettierrc.yaml"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: prettierrc.yaml
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Prettier settings file for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.prettierrc.yaml"
    force: true
    src: prettierrc.yaml
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of Prettier file for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\.prettierrc.yaml"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
