Architecture: all
Description: Bootstrap software installations with Ansible
Essential: no
Installed-Size: 1024
Maintainer: Macklan Weinstein <wolfgang.wazzle.strauss@gmail.com>
Package: bootware
Priority: optional
Section: custom
Version: {{ version }}
