# Command line aliases.


alias cargo-expand="cargo expand --theme 'Solarized (light)'"
alias cargo-testpath="cargo test --no-run --message-format=json | jq -r 'select(.profile.test == true) | .filenames[]'"
alias diff='diff -u'
alias emacs='emacs -nw'
alias exa='exa -Fhl -s type --color auto'
alias lzd='lazydocker'
alias lzg='lazygit'
alias procs='procs --theme light'
