[Desktop Entry]
Version=1.0
Type=Application
Name=Zed
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
TryExec=/usr/local/zed/libexec/zed-editor
StartupNotify=true
Exec=/usr/local/zed/libexec/zed-editor %U
Icon=/usr/local/zed/share/icons/hicolor/512x512/apps/zed.png
Categories=Utility;TextEditor;Development;IDE;
Keywords=zed;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/zed;
Actions=NewWorkspace;

[Desktop Action NewWorkspace]
Exec=/usr/local/zed/libexec/zed-editor --new %U
Name=Open a new workspace
