---
dependencies:
  - role: variable
  - role: flatpak
    when: >-
      flatpak_role_executed is not defined and ansible_facts.system == "Linux"
      and system_pkg_mgr not in ["apt", "dnf"] and system_architecture ==
      "amd64"
