---
- name: Install Zed
  ansible.builtin.import_tasks: install.yaml

- name: Configure Zed settings
  ansible.builtin.import_tasks: config.yaml

- name: Set owner of Zed files for Windows
  ansible.windows.win_owner:
    path: "{{ zed_config_path }}"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
