---
- name: Create VSCode user directory for MacOS
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/Library/Application Support/Code/User"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system == "Darwin"

- name: Copy VSCode keybindings file for MacOS
  ansible.builtin.template:
    dest: >-
      {{ user_home }}/Library/Application Support/Code/User/keybindings.json
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: keybindings.json.j2
  become: true
  tags:
    - config
  when: ansible_facts.system == "Darwin"

- name: Copy VSCode settings file for MacOS
  ansible.builtin.template:
    dest: >-
      {{ user_home }}/Library/Application Support/Code/User/settings.json
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: settings.json.j2
  become: true
  tags:
    - config
  when: ansible_facts.system == "Darwin"

- name: Create VSCode user directory for Linux
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/Code/User"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system == "Linux"

- name: Copy VSCode keybindings file for Linux
  ansible.builtin.template:
    dest: "{{ user_home }}/.config/Code/User/keybindings.json"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: keybindings.json.j2
  become: true
  tags:
    - config
  when: ansible_facts.system == "Linux"

- name: Copy VSCode settings file for Linux
  ansible.builtin.template:
    dest: "{{ user_home }}/.config/Code/User/settings.json"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: settings.json.j2
  become: true
  tags:
    - config
  when: ansible_facts.system == "Linux"

- name: Create VSCode user directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\AppData\\Roaming\\VSCode\\User"
    state: directory
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy VSCode keybindings file for Windows
  ansible.windows.win_template:
    dest: "{{ user_home }}\\AppData\\Roaming\\VSCode\\User\\keybindings.json"
    force: true
    src: keybindings.json.j2
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy VSCode settings file for Windows
  ansible.windows.win_template:
    dest: "{{ user_home }}\\AppData\\Roaming\\VSCode\\User\\settings.json"
    force: true
    owner: "{{ user_id }}"
    src: settings.json.j2
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
