---
# Unable to find update instructions for Starship. Reinstalling will use a newer
# version.
- name: Install Starship shell prompt for Unix
  ansible.builtin.shell:
    cmd: curl -LSfs https://starship.rs/install.sh | sh -s -- -y
    warn: false
  become: true
  when: ansible_system not in ["FreeBSD", "Win32NT"]

- name: Install Starship shell prompt for Windows
  community.windows.win_scoop:
    name: starship
  when: ansible_system == "Win32NT"

- name: Create Starship settings directory for Unix
  ansible.builtin.file:
    dest: "{{ ansible_env.HOME }}/.config"
    mode: "755"
    owner: "{{ ansible_user_id }}"
    state: directory
  when: ansible_system not in ["FreeBSD", "Win32NT"]

- name: Create Starship settings file for Unix
  ansible.builtin.copy:
    dest: "{{ ansible_env.HOME }}/.config/starship.toml"
    mode: "644"
    owner: "{{ ansible_user_id }}"
    src: starship.toml
  when: ansible_system not in ["FreeBSD", "Win32NT"]

- name: Create Starship settings directory for Windows
  ansible.windows.win_file:
    path: "{{ ansible_env.HOME }}/.config"
    state: directory
  when: ansible_system == "Win32NT"

- name: Create Starship settings file for Windows
  ansible.windows.win_copy:
    dest: "{{ ansible_env.HOME }}/.config/starship.toml"
    src: starship.toml
  when: ansible_system == "Win32NT"
