---
- name: Check if Caffeine shell extension is installed for GNOME desktops
  ansible.builtin.command: gnome-extensions show caffeine@patapon.info
  ignore_errors: true
  register: caffeine_shell_check
  when: ansible_system == "Linux" and gnome_desktop

- name: Download Caffeine shell extension for GNOME desktops
  ansible.builtin.get_url:
    dest: /tmp/caffeinepatapon.info.shell-extension.zip
    mode: "600"
    url: https://extensions.gnome.org/extension-data/caffeinepatapon.info.v41.shell-extension.zip
  when: >-
    ansible_system == "Linux" and gnome_desktop and caffeine_shell_check is
    failed

- name: Install Caffeine shell extension for GNOME desktops
  ansible.builtin.command: >-
    gnome-extensions install /tmp/caffeinepatapon.info.shell-extension.zip
  when: >-
    ansible_system == "Linux" and gnome_desktop and caffeine_shell_check is
    failed

- name: Enable Caffeine shell extension for GNOME desktops
  ansible.builtin.command: gnome-extensions enable caffeine@patapon.info
  when: ansible_system == "Linux" and gnome_desktop

- name: Install Caffeine for Windows
  community.windows.win_scoop:
    name: caffeine
  when: ansible_system == "Win32NT"
