---
# TODO: Add Tmate when it is available on stable Alpine. Check
# https://pkgs.alpinelinux.org/packages?name=tmate for status.
- name: Install Tmux for Alpine
  become: true
  community.general.apk:
    name: tmux
  tags:
    - install
  when: system_pkg_mgr == "apk"

- name: Install Tmux for FreeBSD
  become: true
  community.general.pkgng:
    name:
      - tmate
      - tmux
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

- name: Install Tmux for Linux
  ansible.builtin.package:
    name:
      - tmate
      - tmux
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux" and system_pkg_mgr != "apk"

- name: Install Tmux for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name:
      - tmate
      - tmux
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Copy Tmux settings file for Unix
  ansible.builtin.template:
    dest: "{{ user_home }}/.tmux.conf"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: tmux.conf.j2
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"
