---
- name: Get latest Procs version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/procs.json
  register: procs_formula
  when: ansible_pkg_mgr == "apt"

- name: Install Procs for Alpine
  become: true
  community.general.apk:
    name: procs
    repository: http://dl-cdn.alpinelinux.org/alpine/edge/community
    state: latest
    update_cache: true
  when: ansible_pkg_mgr == "apk"

- name: Install Procs for Debian distribution
  ansible.builtin.unarchive:
    dest: /usr/local/bin/
    mode: "755"
    remote_src: true
    src: >-
      https://github.com/dalance/procs/releases/download/v{{
      procs_formula.json.versions.stable }}/procs-v{{
      procs_formula.json.versions.stable }}-x86_64-linux.zip
  become: true
  when: ansible_pkg_mgr == "apt" and system_architecture == "amd64"

- name: Install Procs for Linux
  ansible.builtin.package:
    name: procs
  become: true
  when: >-
    ansible_system == "Linux" and ansible_pkg_mgr not in ["apk", "apt",
    "zypper"]

- name: Install Procs for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: procs
  when: ansible_system == "Darwin"

- name: Install Procs for Windows
  community.windows.win_scoop:
    name: procs
  when: ansible_system == "Win32NT"

- name: Create Fish completions directory for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/fish/completions"
    state: directory
  become: true
  when: ansible_system != "Win32NT"

# Procs uses different flags for shell completion across its versions.
- name: Install Procs Fish completion for Unix
  ansible.builtin.shell:
    cmd: >-
      (procs --gen-completion-out fish > {{ user_home
      }}/.config/fish/completions/procs.fish) || (procs --completion-out fish >
      {{ user_home }}/.config/fish/completions/procs.fish)
  become: true
  become_user: "{{ user_id }}"
  changed_when: true
  environment:
    PATH: "/usr/local/bin:{{ ansible_env.PATH }}"
  when: >-
    ansible_system not in ["FreeBSD", "Win32NT"] and ansible_pkg_mgr != "zypper"
    and system_architecture == "amd64"
