---
- name: Check if Caffeine shell extension is installed for GNOME desktops
  ansible.builtin.command: gnome-extensions show caffeine@patapon.info
  become: true
  become_user: "{{ user_id }}"
  changed_when: false
  ignore_errors: true
  register: caffeine_shell_check
  when: ansible_system == "Linux" and gnome_desktop

- name: Download Caffeine shell extension for GNOME desktops
  ansible.builtin.get_url:
    dest: /tmp/caffeinepatapon.info.shell-extension.zip
    mode: "600"
    url: https://extensions.gnome.org/extension-data/caffeinepatapon.info.v41.shell-extension.zip
  when: >-
    ansible_system == "Linux" and gnome_desktop and caffeine_shell_check is
    failed

- name: Install Caffeine shell extension for GNOME desktops
  ansible.builtin.command: >-
    gnome-extensions install /tmp/caffeinepatapon.info.shell-extension.zip
  become: true
  become_user: "{{ user_id }}"
  # Command does not provide stdout information to determine a change.
  changed_when: true
  when: >-
    ansible_system == "Linux" and gnome_desktop and caffeine_shell_check is
    failed

- name: Enable Caffeine shell extension for GNOME desktops
  block:
    - name: Enable Caffeine shell extension for GNOME desktops
      ansible.builtin.command: gnome-extensions enable caffeine@patapon.info
      become: true
      become_user: "{{ user_id }}"
      # Command does not provide stdout information to determine a change.
      changed_when: true
      when: ansible_system == "Linux" and gnome_desktop
  rescue:
    - name: Notify user to restart system on failure
      ansible.builtin.fail:
        msg: >-
          Enabling Caffeine extension may require a system restart. Please
          restart your system and try again.

- name: Install Caffeine for Windows
  community.windows.win_scoop:
    name: caffeine
  when: ansible_system == "Win32NT"
