# Yazi configuration file for file management.
#
# For more information, visit https://yazi-rs.github.io/docs/configuration/yazi.

[mgr]
ratio = [0, 1, 2]

[open]
prepend_rules = [
  { mime = "audio/*", use = [
    "sound",
    "reveal",
  ] },
  { mime = "image/*", use = [
    "show",
    "reveal",
  ] },
]

[opener]
edit = [
  { block = true, desc = "$EDITOR", for = "unix", run = '${EDITOR:-vi} %s1' },
  { block = true, desc = "%EDITOR%", for = "windows", run = '%EDITOR% %s1' },
]
show = [
  { block = true, desc = "chafa", for = "unix", run = 'chafa --clear --align center --duration infinite --scale max %s1; clear' },
  { block = true, desc = "chafa", for = "windows", run = 'chafa --clear --align center --duration infinite --scale max %s1; clear' },
  { block = true, desc = "mediainfo", for = "unix", run = 'mediainfo %s1; echo "Press enter to exit"; read _' },
]
sound = [
  { block = true, desc = "mpv", for = "unix", run = 'mpv --no-video %s1; clear' },
  { block = true, desc = "mpv", for = "windows", run = 'mpv --no-video %s1; clear' },
  { block = true, desc = "mediainfo", for = "unix", run = 'mediainfo %s1; echo "Press enter to exit"; read _' },
]

[plugin]
preloaders = []

[preview]
max_height = 2160
max_width = 4096

[tasks]
image_bound = [0, 0]
