---
- name: Create Jupyter settings directories for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.jupyter/lab/user-settings/@jupyterlab/{{ item }}"
    state: directory
  become: true
  loop:
    - apputils-extension
    - filebrowser-extension
    - shortcuts-extension
    - terminal-extension
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Create Jupyter settings directory for Windows
  ansible.windows.win_file:
    path: >-
      {{ user_home }}\\.jupyter\\lab\\user-settings\\@jupyterlab\\{{ item }}
    state: directory
  loop:
    - apputils-extension
    - filebrowser-extension
    - shortcuts-extension
    - terminal-extension
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy Jupyter settings files for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.jupyter/{{ item.dest }}"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: "{{ item.src }}"
  become: true
  loop:
    - dest: jupyter_notebook_config.py
      src: jupyter_notebook_config.py
    - dest: >-
        lab/user-settings/@jupyterlab/apputils-extension/notification.jupyterlab-settings
      src: jupyterlab_notification.json
    - dest: >-
        lab/user-settings/@jupyterlab/filebrowser-extension/browser.jupyterlab-settings
      src: jupyterlab_filebrowser.json
    - dest: >-
        lab/user-settings/@jupyterlab/shortcuts-extension/shortcuts.jupyterlab-settings
      src: jupyterlab_shortcuts.json
    - dest: >-
        lab/user-settings/@jupyterlab/terminal-extension/plugin.jupyterlab-settings
      src: jupyterlab_terminal.json
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Jupyter settings files for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.jupyter\\{{ item.dest }}"
    force: true
    src: "{{ item.src }}"
  loop:
    - dest: jupyter_notebook_config.py
      src: jupyter_notebook_config.py
    - dest: >-
        lab\user-settings\@jupyterlab\apputils-extension\notification.jupyterlab-settings
      src: jupyterlab_notification.json
    - dest: >-
        lab\user-settings\@jupyterlab\filebrowser-extension\browser.jupyterlab-settings
      src: jupyterlab_filebrowser.json
    - dest: >-
        lab\user-settings\@jupyterlab\shortcuts-extension\shortcuts.jupyterlab-settings
      src: jupyterlab_shortcuts.json
    - dest: >-
        lab\user-settings\@jupyterlab\terminal-extension\plugin.jupyterlab-settings
      src: jupyterlab_terminal.json
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of Jupyter files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\.jupyter"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Create Marimo settings directory for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/marimo"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Create Marimo settings directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\.config\\marimo"
    state: directory
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy Marimo styles file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.config/marimo/marimo.css"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: marimo.css
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Marimo settings file for Unix
  ansible.builtin.template:
    dest: "{{ user_home }}/.config/marimo/marimo.toml"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: marimo.toml.j2
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Marimo styles file for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\.config\\marimo\\marimo.css"
    force: true
    src: marimo.css
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy Marimo settings file for Windows
  ansible.windows.win_template:
    dest: "{{ user_home }}\\.config\\marimo\\marimo.toml"
    force: true
    src: marimo.toml.j2
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Create Python settings directory for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/pyrc"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Create Python settings directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\.config\\pyrc"
    state: directory
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy Python settings files for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/{{ item.dest }}"
    force: true
    group: "{{ group_id }}"
    mode: "640"
    owner: "{{ user_id }}"
    src: "{{ item.src }}"
  become: true
  loop:
    - dest: .pdbrc
      src: pdbrc
    - dest: .config/pyrc/pdbrc.py
      src: pdbrc.py
    - dest: .config/pyrc/sitecustomize.py
      src: sitecustomize.py
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Python settings files for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\{{ item.dest }}"
    force: true
    src: "{{ item.src }}"
  loop:
    - dest: .pdbrc
      src: pdbrc
    - dest: .config\pyrc\pdbrc.py
      src: pdbrc.py
    - dest: .config\pyrc\sitecustomize.py
      src: sitecustomize.py
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of Python files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\{{ item }}"
    recurse: true
    user: "{{ user_id }}"
  loop:
    - .pdbrc
    - .config\pyrc
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Create Ruff settings directory for Unix
  ansible.builtin.file:
    group: "{{ group_id }}"
    mode: "755"
    owner: "{{ user_id }}"
    path: "{{ user_home }}/.config/ruff"
    state: directory
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Create Ruff settings directory for Windows
  ansible.windows.win_file:
    path: "{{ user_home }}\\AppData\\Roaming\\ruff"
    state: directory
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Copy Ruff settings file for Unix
  ansible.builtin.copy:
    dest: "{{ user_home }}/.config/ruff/ruff.toml"
    force: true
    group: "{{ group_id }}"
    mode: "644"
    owner: "{{ user_id }}"
    src: ruff.toml
  become: true
  tags:
    - config
  when: ansible_facts.system != "Win32NT"

- name: Copy Ruff settings file for Windows
  ansible.windows.win_copy:
    dest: "{{ user_home }}\\AppData\\Roaming\\ruff\\ruff.toml"
    force: true
    src: ruff.toml
  tags:
    - config
  when: ansible_facts.system == "Win32NT"

- name: Set owner of Ruff files for Windows
  ansible.windows.win_owner:
    path: "{{ user_home }}\\AppData\\Roaming\\ruff"
    recurse: true
    user: "{{ user_id }}"
  tags:
    - config
  when: ansible_facts.system == "Win32NT"
