---
- name: Get latest FFSend version
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/ffsend.json
  register: ffsend_formula
  when: ansible_system == "Linux"

# TODO: Integrate once installation becomes stable.
# - name: Install FFSend for Alpine
#   become: true
# community.general.apk:
#     name: ffsend
#     repository: http://dl-cdn.alpinelinux.org/alpine/edge/testing
#     state: latest
#     update_cache: true
#   when: ansible_pkg_mgr == "apk"

- name: Install FFSend for FreeBSD
  become: true
  community.general.pkgng:
    name: ffsend
  when: ansible_system == "FreeBSD"

# Static FFSend installation avoids OpenSSL compatibility issues on newer
# versions of Fedora and Ubuntu.
- name: Install FFSend for Linux
  ansible.builtin.get_url:
    dest: /usr/local/bin/ffsend
    mode: "755"
    url: >-
      https://github.com/timvisee/ffsend/releases/download/v{{
      ffsend_formula.json.versions.stable }}/ffsend-v{{
      ffsend_formula.json.versions.stable }}-linux-x64-static
  become: true
  when: >-
    ansible_system == "Linux" and ansible_pkg_mgr != "apk" and
    system_architecture == "amd64"

- name: Install FFSend for MacOS
  become: true
  become_user: "{{ user_id }}"
  community.general.homebrew:
    name: ffsend
  when: ansible_system == "Darwin"

- name: Install FFSend for Windows
  community.windows.win_scoop:
    name: ffsend
  when: ansible_system == "Win32NT"
