---
vscodium_arch_:
  amd64: x64
  arm64: arm64
vscodium_chrome_path_linux_:
  apk: /usr/bin/chromium
  apt: /usr/bin/google-chrome
  dnf: /usr/bin/google-chrome
  pacman: /usr/sbin/chromium
vscodium_chrome_path_:
  Darwin: /Applications/Google Chrome.app/Contents/MacOS/Google Chrome
  FreeBSD: /usr/local/bin/chrome
  Linux: >-
    {{ vscodium_chrome_path_linux_.get(ansible_pkg_mgr,
    '/usr/bin/google-chrome') }}
  Win32NT: "{{ scoop_path }}\\shims\\chrome.exe"
vscodium_path_linux_:
  pacman: /opt/vscodium-bin/resources/app
vscodium_path_:
  Darwin: /Applications/VSCodium.app/Contents/Resources/app
  FreeBSD: /usr/local/share/codium/resources/app
  Linux: >-
    {{ vscodium_path_linux_.get(ansible_pkg_mgr,
    '/usr/share/codium/resources/app') }}
  Win32NT: C:\Program Files\VSCodium\resources\app
vscodium_system_:
  Darwin: osx
  Linux: linux
  Win32NT: windows
vscodium_user_path_:
  Darwin: "{{ user_home }}/Library/Application Support/VSCodium/User"
  FreeBSD: "{{ user_home }}/.config/VSCodium/User"
  Linux: "{{ user_home }}/.config/VSCodium/User"
  Win32NT: "{{ user_home }}\\AppData\\Roaming\\VSCodium\\User"

vscodium_arch: "{{ vscodium_arch_[system_architecture] }}"
vscodium_chrome_path: "{{ vscodium_chrome_path_[ansible_system] }}"
vscodium_ctrl_key: "{{ 'cmd' if ansible_system == 'Darwin' else 'ctrl' }}"
vscodium_custom_html: |
  <style>
    .terminal.xterm {
      top: 0px;
    }
  </style>
vscodium_extensions:
  - 13xforever.language-x86-64-assembly
  - alefragnani.bookmarks
  - antfu.vite
  - astral-sh.ty
  - bierner.markdown-mermaid
  - bmalehorn.vscode-fish
  - bradlc.vscode-tailwindcss
  - charliermarsh.ruff
  - coolbear.systemd-unit-file
  - dan-c-underwood.arm
  - dbaeumer.vscode-eslint
  - denoland.vscode-deno
  - dnut.rewrap-revived
  - elijah-potter.harper
  - esbenp.prettier-vscode
  - firefox-devtools.vscode-firefox-debug
  - foxundermoon.shell-format
  - james-yu.latex-workshop
  - jeanp413.open-remote-ssh
  - leanprover.lean4
  - mechatroner.rainbow-csv
  - mhutchie.git-graph
  - ms-playwright.playwright
  - nefrob.vscode-just-syntax
  - pomdtr.excalidraw-editor
  - rust-lang.rust-analyzer
  - svelte.svelte-vscode
  - tamasfe.even-better-toml
  - thenuprojectcontributors.vscode-nushell-lang
  - timonwong.shellcheck
  - vadimcn.vscode-lldb
  - vitest.explorer
  - vscode-icons-team.vscode-icons
  - vue.volar
vscodium_font_size: "{{ font_size }}"
vscodium_style: true
vscodium_path: >-
  {{ vscodium_path_.get(ansible_system, '/usr/share/codium/resources/app') }}
vscodium_remote_extensions:
  - alefragnani.bookmarks
  - bierner.markdown-mermaid
  - bmalehorn.vscode-fish
  - coolbear.systemd-unit-file
  - dnut.rewrap-revived
  - elijah-potter.harper
  - foxundermoon.shell-format
  - james-yu.latex-workshop
  - mechatroner.rainbow-csv
  - mhutchie.git-graph
  - nefrob.vscode-just-syntax
  - pomdtr.excalidraw-editor
  - tamasfe.even-better-toml
  - thenuprojectcontributors.vscode-nushell-lang
  - timonwong.shellcheck
  - vscode-icons-team.vscode-icons
vscodium_remotes: {}
vscodium_system: "{{ vscodium_system_.get(ansible_system, 'linux') }}"
vscodium_user_path: >-
  {{ vscodium_user_path_.get(ansible_system, user_home +
  '/.config/VSCodium/User') }}
