[
  { "key": "{{ _ctrl_key }}+`", "command": "workbench.action.terminal.toggleTerminal" },
  {
    "key": "{{ _ctrl_key }}+`",
    "command": "workbench.action.focusActiveEditorGroup",
    "when": "terminalFocus"
  },
  { "key": "alt+shift+p", "command": "workbench.action.showCommands" },
  { "key": "{{ _ctrl_key }}+shift+p", "command": "workbench.action.showCommands" },
  {
    "key": "{{ _ctrl_key }}+shift+]",
    "command": "workbench.action.terminal.focusNext",
    "when": "terminalFocus"
  },
  {
    "key": "{{ _ctrl_key }}+shift+[",
    "command": "workbench.action.terminal.focusPrevious",
    "when": "terminalFocus"
  }
]
