---
- name: Install Sonic Pi for Linux
  become: true
  community.general.flatpak:
    name: net.sonic_pi.SonicPi
  tags:
    - install
  when: ansible_facts.system == "Linux"

- name: Install Sonic Pi for MacOS
  community.general.homebrew_cask:
    accept_external_apps: true
    name: sonic-pi
    state: present
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Sonic Pi for Windows
  community.windows.win_scoop:
    global: true
    name: sonic-pi
  tags:
    - install
  when: ansible_facts.system == "Win32NT"
