/* Custom Marimo theme with all AI elements disabled. */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --marimo-heading-font: Fira Sans;
  --marimo-monospace-font: Fira Code;
  --marimo-text-font: Fira Sans;
}

*:has(> svg.lucide-bot),
*:has(> svg.lucide-message-circle-question-mark),
*:has(> svg.lucide-sparkles) {
  display: none;
}

[data-testid="notebook-actions-dropdown"] {
  display: none;
}

[data-testid="watermark"] {
  display: none;
}
