# GitHub Actions workflow file.
#
# For more information, visit
# https://docs.github.com/actions/learn-github-actions.

---
name: main

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - "**"
    tags:
      - "**"
  workflow_dispatch:
    inputs:
      debug:
        default: false
        description: Use Tmate session for debugging
        type: boolean
      job:
        description: CI job to run
        options:
          - build
          - package
          - pages
          - release
        required: true
        type: choice
      os:
        description: Operating system
        options:
          - macos
          - ubuntu
          - windows
        required: true
        type: choice

env:
  NPM_CONFIG_CACHE: "${{ github.workspace }}/.vendor/cache/npm"
  UV_CACHE_DIR: "${{ github.workspace }}/.vendor/cache/uv"

jobs:
  build:
    if: >-
      ${{ github.ref_type == 'branch' && github.event_name !=
      'workflow_dispatch' || inputs.job == 'build' }}
    name: Run code analyses and test suites
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: >-
          ${{ inputs.os && fromJson(format('["{0}"]',inputs.os)) ||
          fromJson('["macos","ubuntu","windows"]') }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache packages
        uses: actions/cache@v4
        with:
          path: |
            .vendor
            .venv
            node_modules
          key: >-
            ${{ runner.os }}-npm_${{ hashFiles('package-lock.json') }}-uv_${{
            hashFiles('uv.lock') }}
      - name: Install Node interpreter
        uses: actions/setup-node@v4
        with:
          node-version: "24"
      - if: ${{ runner.os == 'Windows' }}
        name: Install Just for Windows
        run: >-
          powershell { iex "& { $(iwr -useb
          https://scruffaluff.github.io/picoware/install/just.ps1) } --dest
          C:\Windows" }
      - if: ${{ runner.os != 'Windows' }}
        name: Install Just for Unix
        run: >-
          curl -LSfs https://scruffaluff.github.io/picoware/install/just.sh | sh
          -s -- --global
      - name: Run CI workflow commands
        run: just ci
      - if: ${{ always() && inputs.debug }}
        name: Launch Tmate session if debug enabled
        timeout-minutes: 60
        uses: mxschmitt/action-tmate@v3

  package:
    if: >-
      ${{ (github.base_ref == 'main' || github.ref == 'refs/heads/main') &&
      github.event_name != 'workflow_dispatch' || inputs.job == 'package' }}
    name: Test building packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache packages
        uses: actions/cache@v4
        with:
          path: |
            .vendor
            .venv
            node_modules
          key: >-
            ${{ runner.os }}-npm_${{ hashFiles('package-lock.json') }}-uv_${{
            hashFiles('uv.lock') }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Install Node interpreter
        uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Install Just
        run: >-
          curl -LSfs https://scruffaluff.github.io/picoware/install/just.sh | sh
          -s -- --global
      - name: Build packages
        run: just setup test-pkg
      - if: ${{ always() && inputs.debug }}
        name: Launch Tmate session if debug enabled
        timeout-minutes: 60
        uses: mxschmitt/action-tmate@v3

  pages:
    environment:
      name: github-pages
    if: >-
      ${{ github.ref == 'refs/heads/main' && github.event_name !=
      'workflow_dispatch' || inputs.job == 'pages' }}
    name: Build and publish documentation
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache packages
        uses: actions/cache@v4
        with:
          path: |
            .vendor
            .venv
            node_modules
          key: >-
            ${{ runner.os }}-npm_${{ hashFiles('package-lock.json') }}-uv_${{
            hashFiles('uv.lock') }}
      - name: Install Just
        run: >-
          curl -LSfs https://scruffaluff.github.io/picoware/install/just.sh | sh
          -s -- --global
      - name: Install Node interpreter
        uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Build documentation
        run: just setup doc
      - name: Upload documentation
        uses: actions/upload-pages-artifact@v3
        with:
          name: pages
          path: build/site
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: pages
      - if: ${{ always() && inputs.debug }}
        name: Launch Tmate session if debug enabled
        timeout-minutes: 60
        uses: mxschmitt/action-tmate@v3

  release:
    if: >-
      ${{ github.ref_type == 'tag' && github.event_name != 'workflow_dispatch'
      || inputs.job == 'release' }}
    name: Create GitHub release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Cache packages
        uses: actions/cache@v4
        with:
          path: |
            .vendor
            .venv
            node_modules
          key: >-
            ${{ runner.os }}-npm_${{ hashFiles('package-lock.json') }}-uv_${{
            hashFiles('uv.lock') }}
      - name: Install Just
        run: >-
          curl -LSfs https://scruffaluff.github.io/picoware/install/just.sh | sh
          -s -- --global
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Install Node interpreter
        uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Install development dependencies
        run: just setup
      - name: Build packages
        run: just dist ${{ github.ref_name }}
      - name: Build and publish collection
        env:
          ANSIBLE_GALAXY_TOKEN: ${{ secrets.ANSIBLE_GALAXY_TOKEN }}
        run: >-
          just uv run ansible-galaxy collection publish --token
          "${ANSIBLE_GALAXY_TOKEN}" "build/dist/scruffaluff-bootware-${{
          github.ref_name }}.tar.gz"
      - name: Create GitHub release
        id: release
        uses: softprops/action-gh-release@v2
        with:
          body: >-
            See the [changelog](https://github.com/scruffaluff/bootware/blob/${{
            github.ref_name }}/CHANGELOG.md) for more information.
          files: |
            build/dist/bootware_${{ github.ref_name }}_all.deb
            build/dist/bootware_${{ github.ref_name }}_all.deb.sha256
            build/dist/bootware-${{ github.ref_name }}-0-any.pkg.tar.zst
            build/dist/bootware-${{ github.ref_name }}-0-any.pkg.tar.zst.sha256
            build/dist/bootware-${{ github.ref_name }}-0.fc33.noarch.rpm
            build/dist/bootware-${{ github.ref_name }}-0.fc33.noarch.rpm.sha256
            build/dist/bootware-${{ github.ref_name }}-r0.apk
            build/dist/bootware-${{ github.ref_name }}-r0.apk.sha256
            build/dist/scruffaluff-bootware-${{ github.ref_name }}.tar.gz
            build/dist/scruffaluff-bootware-${{ github.ref_name }}.tar.gz.sha256
          name: Bootware ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
      # Homebrew formulas required the checksum of the GitHub release archive
      # and thus cannot be created before the release.
      - name: Build Homebrew formula
        run: >-
          just nu script/pkg.nu dist --version ${{ github.ref_name }} brew
      - name: Upload Homebrew formulas to release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/dist/bootware.rb.sha256
            build/dist/bootware.rb
          tag_name: ${{ github.ref_name }}
      - if: ${{ always() && inputs.debug }}
        name: Launch Tmate session if debug enabled
        timeout-minutes: 60
        uses: mxschmitt/action-tmate@v3
