---
- name: Create Just temporary directory for Unix
  ansible.builtin.tempfile:
    state: directory
  register: just_temp
  tags:
    - install
  when: ansible_facts.system != "Win32NT"

- name: Install Just for Alpine
  become: true
  community.general.apk:
    name: just
    repository: http://dl-cdn.alpinelinux.org/alpine/edge/community
    state: latest
    update_cache: true
  tags:
    - install
  when: system_pkg_mgr == "apk"

- name: Install Just for FreeBSD
  become: true
  community.general.pkgng:
    name: just
  tags:
    - install
  when: ansible_facts.system == "FreeBSD"

# TODO: Renable when Just package in most distributions reaches version 1.38.
# - name: Install Just for Linux
#   ansible.builtin.package:
#     name: just
#   become: true
#   ignore_errors: true
#   register: just_linux
#   tags:
#     - install
#   when: ansible_facts.system == "Linux" and system_pkg_mgr != "apk"

- name: Get latest Just version for Linux
  ansible.builtin.uri:
    method: GET
    return_content: true
    url: https://formulae.brew.sh/api/formula/just.json
  register: just_formula
  tags:
    - install
  when: ansible_facts.system == "Linux" and system_pkg_mgr != "apk"

- name: Download Just for Linux
  ansible.builtin.unarchive:
    dest: "{{ just_temp.path }}"
    mode: "777"
    remote_src: true
    src: >-
      https://github.com/casey/just/releases/download/{{
      just_formula.json.versions.stable }}/just-{{
      just_formula.json.versions.stable }}-{{ just_arch
      }}-unknown-linux-musl.tar.gz
  tags:
    - install
  when: ansible_facts.system == "Linux" and system_pkg_mgr != "apk"

- name: Install Just for Linux
  ansible.builtin.copy:
    dest: /usr/local/bin/just
    force: true
    mode: "755"
    remote_src: true
    src: "{{ just_temp.path }}/just"
  become: true
  tags:
    - install
  when: ansible_facts.system == "Linux" and system_pkg_mgr != "apk"

- name: Install Just for MacOS
  become: true
  become_user: "{{ brew_user }}"
  community.general.homebrew:
    name: just
  tags:
    - install
  when: ansible_facts.system == "Darwin"

- name: Install Just for Windows
  community.windows.win_scoop:
    global: true
    name: just
  tags:
    - install
  when: ansible_facts.system == "Win32NT"

- name: Create Just shell completions for Unix
  ansible.builtin.shell: >-
    just --completions {{ item }} > {{ just_temp.path }}/just.{{ item }}
  become: true
  changed_when: true
  environment:
    PATH: /opt/homebrew/bin:/usr/local/bin:{{ ansible_facts.env.PATH }}
  loop:
    - bash
    - fish
  tags:
    - completion
    - install
  when: ansible_facts.system != "Win32NT"

- name: Install Just shell completions for Unix
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    force: true
    mode: "644"
    remote_src: true
    src: "{{ just_temp.path }}/just.{{ item.shell }}"
  become: true
  loop:
    - dest: "{{ bash_completion }}/just"
      shell: bash
    - dest: "{{ fish_completion }}/just.fish"
      shell: fish
  tags:
    - completion
    - install
  when: ansible_facts.system != "Win32NT"

- name: Remove Just temporary directory for Unix
  ansible.builtin.file:
    path: "{{ just_temp.path }}"
    state: absent
  tags:
    - install
  when: ansible_facts.system != "Win32NT"
